<section class="report-booking">
  <div class="container">
    <span>Báo cáo lượt khách đặt hủy phòng</span>
    <hr>
    <div class="row">
      <div class="col-5">
        <div class="row mb-3 align-items-center">
          <div class="col-4">
            <span>Cơ sở lưu trú</span>
          </div>
          <div class="col-7">
            <nz-select class="w-100" [(ngModel)]="filterModel.accommodationId" nzShowSearch nzAllowClear nzPlaceHolder="Tên cơ sở lưu trú">
              <nz-option *ngFor="let item of accommodationList" [nzValue]="item.accommodationID" [nzLabel]="item.name"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="row mb-3 align-items-center">
          <div class="col-4">
            <span>Trạng thái</span>
          </div>
          <div class="col-7">
            <nz-select class="w-100" [(ngModel)]="filterModel.status" nzShowSearch nzAllowClear nzPlaceHolder="Trạng thái">
              <nz-option [nzValue]="0" [nzLabel]="'Đã tiếp nhận'"></nz-option>
              <nz-option [nzValue]="1" [nzLabel]="'Đã xác nhận'"></nz-option>
              <nz-option [nzValue]="2" [nzLabel]="'Đã hủy'"></nz-option>
              <nz-option [nzValue]="3" [nzLabel]="'Đã đóng'"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
       <div class="row mb-3 align-items-center">
          <div class="col-4">
            <span>Ngày yêu cầu</span>
          </div>
          <div class="col-7">
            <nz-range-picker (ngModelChange)="onChangeBooking($event)" ngModel nzSize="default" class="w-100"></nz-range-picker>
          </div>
       </div>
      </div>
      <div class="col-5">
        <div class="row mb-3 align-items-center">
          <div class="col-4">
            <span>Ngày nhận/trả phòng</span>
          </div>
          <div class="col-7">
            <nz-range-picker (ngModelChange)="onChangeCheckIn($event)" ngModel nzSize="default" class="w-100"></nz-range-picker>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-end">
      <div class=" d-flex justify-content-end me-3 ">
        <button class="btn-export" nz-button nzType="primary" (click)="filter()">Xem báo cáo</button>
      </div>
      <div class="">
        <button class="btn-export d-flex align-items-center" nz-button nzType="primary" nzSize="default" (click)="export()" >
          <i nz-icon nzType="download"></i>
          Xuất báo cáo
        </button>
        <!-- <button class="btn-save" nz-button nzType="primary">Xuất báo cáo</button> -->
      </div>
    </div>

    <div class="content" *ngIf="isShow" >
      <div class="table-main" #epltable>
        <nz-table #basicTable class="table-list mt-3" [nzFrontPagination]="false" [nzTemplateMode]="true" [nzLoading]="false" [nzData]="dataSource"
          [nzScroll]="{ x: '1200px', y: '430px' }"
          [nzWidthConfig]="['70px', '200px', '180px', '150px', '150px', '150px', '150px', '130px', '120px', '120px', '150px', '150px', '130px', '130px']">
          <thead>
            <th nzLeft="0px" class="text-center">STT</th>
            <th class="text-center">Cơ sở lưu trú</th>
            <th class="text-center">Họ & tên</th>
            <th class="text-center">Mã đặt phòng</th>
            <th class="text-center">Ngày đặt phòng</th>
            <th class="text-center">Ngày nhận phòng</th>
            <th class="text-center">Ngày trả phòng</th>
            <th class="text-center">SL người lớn</th>
            <th class="text-center">SL trẻ em</th>
            <th class="text-center">Số đêm nghỉ</th>
            <th class="text-center">Trạng thái</th>
            <th class="text-center">Ngày hủy</th>
            <th class="text-center">Lý do hủy</th>
            <th class="text-center">Ghi chú</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of basicTable.data; let i = index">
              <td nzLeft="0px" class="text-center">{{i + 1}}</td>
              <td class="text-center">{{item?.accommodation?.name}}</td>
              <td class="text-center">{{item?.checkInName}}</td>
              <td class="text-center">{{item?.no}}</td>
              <td class="text-center">{{item?.bookingDate ? (item?.bookingDate * 1000 | date: 'dd/MM/yyyy') : ''}}</td>
              <td class="text-center">{{item?.fromDate ? (item?.fromDate * 1000 | date: 'dd/MM/yyyy') : ''}}</td>
              <td class="text-center">{{item?.toDate? (item?.toDate * 1000 | date: 'dd/MM/yyyy') : ''}}</td>
              <td class="text-center">{{item?.bookRoomDetail?.personNumber}}</td>
              <td class="text-center">{{item?.bookRoomDetail?.childNumber}}</td>
              <td class="text-center">{{item?.totalDay}}</td>
              <td class="text-center" >
              <div class="" [class.status-booking-confirmed]="item?.status == 0" 
              [class.status-booking-success]="item?.status == 1" 
              [class.status-booking-canceled]="item?.status == 2" 
              [class.status-booking-closed]="item?.status == 3">
                {{item?.status == 0 ? 'Đã tiếp nhận' : (item?.status == 1 ? 'Đã xác nhận' : (item?.status == 2 ? 'Đã hủy' : 'Đã Đóng'))}}
              </div>
              </td>
              <td class="text-center">{{item?.bookRoomDetail?.cancelDate | date: 'dd/MM/yyyy'}}</td>
              <td class="text-center">{{item?.bookRoomDetail?.cancelReason}}</td>
              <td class="text-center">{{item?.checkInNote}}</td>
            </tr>
          </tbody>
        </nz-table>
        <div *ngIf="(dataSource ?? []).length === 0" class="d-flex justify-content-center mt-3">
          <p class="mb-0 text-center">Không có dữ liệu</p>
        </div>
      </div>
      <!-- <ng-template #rangeTemplate let-range="range" let-total>
        <div class="mt-1">Tổng số {{ total }}</div>
      </ng-template> -->
    </div>
  </div>
</section>
