<section class="list-member">
  <div class="header">
    <div class="title">
      <span>Danh sách người dùng</span>
    </div>
    <hr>
    <div class="content">
      <div class="content-header d-flex align-items-center justify-content-between">
        <div class="search">
          <nz-input-group nzSearch nzSize="default">
            <input type="text" nzSize="default" nz-input (keyup)="searchTerm$.next($event.target.value)" [value]="searchTerm$.value"  placeholder="Nhập tên/Email/SĐT/Mã KH/ Địa chỉ" />
          </nz-input-group>
        </div>
        <div class="group-btn">
          <button nz-button class="button" nzSize="default" [routerLink]="'/dashboard/user-management/employee/create'">
            <i class="fa-solid fa-plus pe-2 fz-14"></i>
            Tạo mới
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="table-main">
      <nz-table #basicTable class="table-list mt-3" [nzFrontPagination]="false" [nzTemplateMode]="true" [nzLoading]="false" [nzData]="dataSource"
        [nzScroll]="{ x: '1000px' }" [nzTotal]="totalCount" [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex"
        (nzPageIndexChange)="onPageIndexChange($event)" (nzPageSizeChange)="onPageSizeChange($event)"
        [nzWidthConfig]="['50px', '100px', '150px', '100px', '100px', '200px', '200px', '200px', '100px']">
        <thead>
          <th class="text-center">STT</th>
          <th class="text-center">Mã ND</th>
          <th class="text-center">Họ & Tên</th>
          <th class="text-center">Điện thoại</th>
          <th class="text-center">Chức vụ</th>
          <th class="text-center">Email</th>
          <th class="text-center">Địa chỉ</th>
          <th class="text-center">Trạng thái</th>
          <th nzRight="0px" class="text-center">Thao tác</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataSource; let i = index">
            <td class="text-center">{{i + 1}}</td>
            <td class="text-center">{{item?.no}}</td>
            <td class="text-center">{{item?.fullName}}</td>
            <td class="text-center">{{item?.phoneNumber}}</td>
            <td class="text-center">{{item?.role?.name}}</td>
            <td class="">{{item?.email}}</td>
            <td class="text-center">
              <span class=" webkit-box-1" nz-tooltip="{{item.address}}">{{item.address}}</span>
            </td>
            <td class="text-center">{{item.status}}</td>
            <td nzRight="0px" class="text-center">
              <div class="d-flex align-items-center justify-content-between">
                <i class="fa fa-key pointer me-2 c-dodgerblue" aria-hidden="true"></i>
                <nz-switch nzSize="small" class=""></nz-switch>
                <i class="fa-solid fa-eye pointer c-dodgerblue" [routerLink]="['/dashboard/user-management/employee/view', item.id]"
                  [queryParams]="{typeForm: 'view'}"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <!-- <div>
        <p class="mb-0 text-center">Không có dữ liệu</p>
      </div> -->
    </div>
  </div>
  <div class="footer">

  </div>
</section>

