<div class="forgot-password-form text-center h-100">
  <p class="fs-30 text-uppercase page-title">quên mật khẩu</p>
  <div class="d-flex justify-content-center">
    <div class="col-10 col-md-6 col-xxl-5 input-group-block">
      <label class="fs-16">Email</label>
      <div class="d-flex">
        <img class="mt-1" src="/assets/images/ic-email.svg">
        <input class="form-control input-border-none" placeholder="Nhập vào Email của bạn">
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <p class="col-10 col-md-6 col-xxl-5 fs-16 fst-italic text-start mb-0 mt-3">Hệ thống sẽ gửi Email có chứa thông tin mật khẩu mới cho
      tài khoản của bạn</p>
  </div>

  <div class="d-flex justify-content-center align-items-center mt-5">
    <span class="me-3 pointer">
      Quay lại</span>
    <button class="btn btn-circle px-5 py-2 py-xxl-3 btn-signin fs-20 text-uppercase" >gửi</button>
  </div>
</div>
