<div class="title mb-4 text-center">
  <h4 class="fw-700">Đăng nhập</h4>
</div>
<form nz-form [formGroup]="signInForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input [controlErrorAnchor]="anchorEmail" formControlName="email" placeholder="Email" />
      </nz-input-group>
      <ng-template controlErrorAnchor #anchorEmail="controlErrorAnchor"></ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
        <input [type]="passwordVisible ? 'text' : 'password'" nz-input [controlErrorAnchor]="anchorPassword" formControlName="password" placeholder="Mật khẩu" />
      </nz-input-group>
      <ng-template controlErrorAnchor #anchorPassword="controlErrorAnchor"></ng-template>
      <ng-template #suffixTemplate>
        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="handlePasswordVisible()"></i>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">
    Đăng nhập
  </button>
  <div class="d-flex align-items-center justify-content-center">
    <div class="pointer">
      <span class="hover" (click)="forgotPassword()">Quên mật khẩu</span>
    </div>
    <div class="mx-2"> - </div>
    <div class="pointer">
      <span class="hover" (click)="signup()">Đăng kí ngay!</span>
    </div>
  </div>
</form>
