.login-form {
  max-width: 400px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

:host::ng-deep .ant-modal-title{
  text-align: center;
}

// :host .ant-modal{
//   @media (max-width: 567px) {
//     width: 350px;
//   }
// }
:host::ng-deep.ant-modal.ng-tns-c36-0 {
  @media (max-width: 567px) {
        width: 350px !important;
      }
}
