.content {
  .acccommodation-list {
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: repeat(10, 1fr);
    // grid-gap: 20px;
  }
}
nz-collapse-panel {
  border: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc !important;
}

:host::ng-deep
  .ant-collapse
  > .ant-collapse-item:last-child
  > .ant-collapse-header {
  border-bottom: 1px dashed #ccc;
}
:host::ng-deep .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  display: flex;
  align-items: center;
}

//custom radio
:host::ng-deep {
  .ant-radio {
    top: 0;
  }

  .ant-radio-inner {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 27px;
    height: 27px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    transition: all 0.3s;
  }

  .ant-radio-checked .ant-radio-inner {
    border-color: #fff;
    background-color: transparent !important;
    border-width: 2px;
  }

  .ant-radio-inner::after {
    position: absolute;
    top: 3px;
    left: 8px;
    display: table;
    width: 8px;
    height: 13px;
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-radius: 0px;
    border: solid white;
    border-width: 0 2px 2px 0;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    content: " ";
  }

  .ant-radio-checked .ant-radio-inner::after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    opacity: 1;
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  }
}

//Check event radio

:host ::ng-deep {
  .ant-radio-wrapper {
    display: flex;
    align-items: center;
    padding: 4px;
    // min-width: 120px;

    &:focus {
      opacity: 0.78;
    }
  }

  .ant-radio-wrapper-checked {
    display: flex;
    align-items: center;
    // opacity: 0.9;
    color: #188ffd;
    border-radius: 20px;
    .ant-radio-checked {
      background: #188ffd;
      border-radius: 50%;
      border: 1px solid #188ffd;
    }
  }
}

.grid-center{
  place-content: end !important;
}

@media (max-width:575px) {
  :host::ng-deep{
    .container{
      .search{
        .card{
          .search-title{
            font-size: 14px;
          }
          .name{
            font-size: 11px;
          }
          .ant-input-affix-wrapper{
            padding: 0px 4px;
            .ant-input{
              &:placeholder-shown{
                font-size: 10px;
              }
            }
          }
          .ant-btn{
            &>span{
              font-size: 11px;
            }
          }
        }
      }
      .content{
    
      }
    }
  }
}
// :host ::ng-deep .ant-btn>span{
//   font-size: 10px;
// }
// :host::ng-deep .ant-select-single.ant-select-sm:not(.ant-select-customize-input).ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-sm:not(.ant-select-customize-input).ant-select-show-arrow .ant-select-selection-placeholder{
//   font-size: 10px;
// }