<section class="container-fluid p-0" (scroll)="onScroll()" [ngClass]="navbarfixed ? 'fixed' : 'infixed'">
  <div class="container">
    <div class="box row d-flex align-items-center justify-content-between">
      <div class="left pointer col-8" (click)="backToHome()">
        <h3 class="title text-uppercase">DaNangBooking</h3>
      </div>
      <div class="right col-4 d-flex align-items-center" [class.justify-content-between]="authService.getAuthenticationModel()"
        [class.justify-content-around]="!authService.getAuthenticationModel()">
        <div class="d-flex align-items-center pointer">
          <i class="fa-solid fa-suitcase me-2 c-dodgerblue fz-16"></i>
          <span class="my-booked">Đặt chỗ của tôi</span>
        </div>
        <div class="btn-login pointer d-flex align-items-center" nz-dropdown [nzPlacement]="'bottomRight'" [nzDropdownMenu]="menu" (click)="login()">
          <nz-avatar *ngIf="avatarUrl == null" nzIcon="user" class="me-2"></nz-avatar>
          <nz-avatar *ngIf="avatarUrl" [nzSrc]="avatarUrl" nzIcon="user" class="me-2"></nz-avatar>
          <div >
            <span>{{authService.getAuthenticationModel() ? fullName : 'Đăng nhập'}}</span>
          </div>
          <nz-dropdown-menu  #menu="nzDropdownMenu">
            <ul nz-menu *ngIf="authService.getAuthenticationModel()" >
              <li nz-menu-item (click)="goToProfile()">Tài khoản của tôi</li>
              <li nz-menu-item (click)="goToChangePass()">Đổi mật khẩu</li>
              <li nz-menu-item (click)="logout()">Đăng xuất</li>
            </ul>
          </nz-dropdown-menu>
        </div>
        <div class="btn-signin">
          <button nz-button nzType="primary" class="border-r" (click)="signup()">Đăng ký</button>
        </div>
      </div>
    </div>
  </div>
</section>
