<div class="popup-container">
  <div class="content border-top-radius h-50 w-300 p-0">
    <div *ngIf="title" class="text-uppercase text-center popup-title mb-0">
      {{ title }}
    </div>
    <div class="nz-row" nzType="flex" nzJustify="center" nzAlign="center">
      <div class="nz-col" nzSpan="12">
        <div class="text-center mt-2">
          <i class="fa fa-check-circle fa-3x success"></i>
          <div class="success fw-bold fs-6">{{subTitle}}</div>
        </div>
        <div class="popup-message text-center text mx-5">
          <p class="text-center" [innerHTML]="content | safe: 'html'">
          </p>
          <div class="d-flex justify-content-center mt-2">
            <button nz-button nzType="primary" type="button" class="me-2"
              (click)="closePopupYes()">{{btnTitle}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>