@font-face {
  font-family: Myanmar-MN;
  src: url(assets/fonts/Myanmar-MN.ttc) format("truetype");
}

@font-face {
  font-family: Helvetica-neue;
  src: url(assets/fonts/helvetica-neue-regular.ttf) format("truetype");
}

* {
  font-family: "Helvetica-neue", sans-serif;
  letter-spacing: 0.2px;
  user-select: none;
}
/* You can add global styles to this file, and also import other style files */
$main-color: #086fd0;
$active-color: #086fd0;
$active-color-white: #fff;
$action-reject-color: #b74343;

.obj-status {
  width: 9rem;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.9em;
  color: white;

  &-disable {
    @extend .obj-status;
    background-color: #bbbbbb;
  }

  &-active {
    @extend .obj-status;
    background-color: $active-color;
  }

  &-deactive {
    @extend .obj-status;
    background-color: $action-reject-color;
  }

  &-not-yet {
    @extend .obj-status;
    background-color: #b99446;
  }

  &-expired {
    @extend .obj-status;
    background-color: #707070;
  }
}

.pointer {
  cursor: pointer;
}

.fs-30 {
  font-size: 1.875rem !important;
}

.fs-26 {
  font-size: 1.55rem !important;
}

.fs-20 {
  font-size: 1.25rem !important;
}

.fs-18 {
  font-size: 1.075rem !important;
}

.fs-16 {
  font-size: 0.975rem;
}

.fs-14 {
  font-size: 0.875rem !important;
}

.fs-12 {
  font-size: 0.775rem !important;
}

.fs-10 {
  font-size: 0.675rem !important;
}

.fs-8 {
  font-size: 0.5rem !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.w-40 {
  width: 40%;
}

.ms-30 {
  margin-left: 30%;
}

// button
.button-card {
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  font-size: 16px;
}

.btn {
  border: 1px solid black !important;
  min-width: 8rem;
  font-size: 100%;
  border-radius: 8px;
}

.btn-circle {
  border-radius: 2rem !important;
}

.btn-square {
  border-radius: 0.25rem !important;
}

.btn-primary {
  background-color: $active-color !important;
  border-color: $active-color !important;
}

.btn-secondary {
  background-color: #e3e3e3;
  border-color: #e3e3e3 !important;
  color: #8a8d8e;

  &:hover {
    background-color: #e3e3e3;
    color: #8a8d8e;
  }
}

.btn-cbp {
  border: none !important;
  color: white !important;
  background-image: linear-gradient(to right, #c16397, #4539a3);
  padding: 0.4rem 2rem !important;
}

.ant-btn {
  min-width: 100px;
  border: none;
  color: #fff;
  border-radius: 8px;

  &:hover {
    color: #fff;
  }
}

// input

.input-group-block {
  text-align: left;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-top: 3rem;

  label {
    color: $active-color;
  }
}

.input-border-none {
  border: none !important;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

// collapse
nz-collapse {
  border: none !important;
}

nz-collapse-panel {
  border: none !important;

  div[role="tab"] {
    background-color: #ebebeb;
  }

  .ant-collapse-header {
    font-size: 14px;
    font-weight: 700;
  }

  .ant-collapse-content {
    border: none;

    .ant-collapse-content-box {
      padding: 0;
    }
  }
}

.ant-collapse-content-box {
  background-color: #fff !important;
}

// icon
.fa-icon-delete {
  color: #ff2222;
}

.fa-eye {
  color: #074494;
}

.icon-info {
  color: #0066ff;
}

// bold
.font-bold {
  font-weight: 500;
}

.page-title {
  padding-top: 2rem;
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

.color-main {
  color: $main-color;
}

.color-active {
  color: $active-color;
  fill: #074494;
}

.primary-color {
  color: #086fd0;
}

.color-gray {
  color: #666666;
}

.color-blue {
  color: #086fd0;
}

.link-active {
  background-color: $active-color !important;
  span {
    color: $active-color-white !important;
  }
  svg {
    path {
      stroke: $active-color-white;
    }
    circle {
      stroke: $active-color-white;
    }
    line {
      stroke: $active-color-white;
    }
  }
  .ic-svg {
    fill: $active-color;
  }
}

.link-active-li {
  span {
    color: $active-color;
  }
  svg {
    g {
      circle {
        stroke: $active-color !important;
      }
    }
  }
}

.border-primary {
  border-color: $active-color;
}

.mt-2r {
  margin-top: 2rem;
}

.required {
  &::before {
    content: "*";
    color: red;
    margin-right: 10px;
    font-weight: bold;
    font-size: 16px;
  }
}

.linear-gradient {
  // background-image: linear-gradient(to right, #c16397, #4539a3);
  background-image: linear-gradient(to right, #8a35a7, #5a6bd7, #0b185c);
}

control-error {
  label {
    color: red !important;
  }
}

.valid-err {
  color: red;
}

// Width
.min-width-100 {
  min-width: 100px;
}

// .ant-switch:focus {
//   box-shadow: none !important;
// }

.ant-checkbox-inner {
  // border-style: solid;
  border: 1px solid #e6e6e6;
}

.ant-checkbox-disabled .ant-checkbox-inner {
  border-color: #e6e6e6 !important;
}

// Data-picker
nz-date-picker {
  width: 100%;
  background-color: white;
}

// select

.ant-select {
  // border: 1px solid #d9d9d9;
  border-radius: 5px;

  .ant-select-selection {
    height: 36px;

    .ant-select-selection__rendered {
      line-height: 36px;
    }
  }
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 36px;

  & .ant-select-selection-search-input {
    height: 34px;
  }
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #5fa1df;
  border-right-width: 1px !important;
}

// FILTER STYLE

.filter-container {
  margin-left: auto;
  // Status
  .status-select {
    margin-left: auto;
    .ant-select {
      width: 240px;

      .ant-select-selector {
        border-left: none;
        border-right: none;
        border-top: none;
        border-radius: 0;
      }

      .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
        .ant-select-selector {
        border-color: none;
        border-right-width: 1px !important;
        outline: 0;
        box-shadow: none;
      }

      .anticon-down {
        font-size: 13px;
        color: #252525;
      }

      .anticon-search {
        font-size: 18px;
        color: #666666;
      }
    }
  }

  .filter-field--container {
    margin-left: auto;
  }

  // Date
  .contain-date-filter {
    display: flex;
    background-color: white;
    border: solid 1px#d6daec;
    border-radius: 0.25rem;
    align-items: center;
    margin-left: auto;

    .gr-date {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      outline: none;
      border-radius: 0.25rem;
      background-color: white;
      width: 142px;
      padding-left: 8px;

      nz-date-picker {
        box-shadow: none;
        background-color: transparent !important;
        border-color: transparent !important;
      }
    }

    .font-to {
      padding: 0 4px;
      color: #9b9b9b;
      font-size: 12px;
    }
  }

  // search
  .font-search {
    width: 100%;
    border-color: transparent;
    margin-left: auto;
  }
}

@media (max-width: 443px) {
  .filter-container {
    width: 100%;
    .status-select {
      width: 100%;
      .ant-select {
        width: 100%;
        margin: 10px 0;
      }
    }
    .contain-date-filter {
      width: 100%;
    }

    .font-search {
      width: 100%;
    }
  }

  .filter-field--container {
    width: 100%;
    p {
      margin-bottom: 10px;
    }
  }
}

.content-head {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 8px;

  @media (min-width: 1158px) {
    grid-template-columns: 2fr 4fr;
    grid-column-gap: 24px;
  }

  @media (min-width: 1295px) {
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 32px;
  }

  .heading {
    color: #b7bdcc;
    font-size: 22px;
    position: relative;
    font-weight: 600;
    padding: 0 0 10px 0;
    border-bottom: 2px solid #0870d1;
    letter-spacing: 1px;
    line-height: initial;
    width: fit-content;
    height: fit-content;

    @media (max-width: 576px) {
      font-size: 18px;
    }

    &:hover {
      color: #0870d1;
      cursor: pointer;
    }
  }

  .filter-container {
    display: grid;
    grid-gap: 8px;

    grid-template-columns: 1fr;
    grid-template-areas:
      "h1" "h2"
      "h3" "h6";

    @media (min-width: 770px) {
      grid-template-columns: 3fr 3fr;
      grid-template-areas:
        "h2 h1"
        "h3 h6";
    }

    @media (min-width: 834px) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "h2 h1"
        "h3 h6";
    }

    @media (min-width: 1158px) {
      grid-template-columns: 4fr 5fr;
      grid-column-gap: 16px;
      grid-template-areas:
        "h2 h3"
        "h1 h6";
    }

    @media (min-width: 1295px) {
      grid-template-columns: 2fr 1fr 3fr;
      grid-template-areas:
        "h1 h2 h3"
        "h4 h5 h6";
    }

    .status-select {
      grid-area: h1;
      align-self: center;
      justify-self: end;
      width: 100%;
      .ant-select {
        width: 100%;
      }
    }

    .s-label {
      grid-area: h2;
      margin: 0;
      align-self: end;
      justify-self: start;

      @media (min-width: 1158px) {
        align-self: center;
        justify-self: end;
      }
    }

    .date-select {
      grid-area: h3;
    }

    .search-box {
      grid-area: h6;

      .font-search {
        @media (max-width: 833.98px) {
          width: 100%;
        }
      }
    }
  }
}

// ::ng-deep .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
//   border-color: #5FA1DF;
//   border-right-width: 1px !important;
//   outline: 0;
//   box-shadow: 0 0 0 2px rgb(7 68 148 / 20%);
// }

// ::ng-deep .ant-input:hover {
//   border-color: #5FA1DF;
//   border-right-width: 0px;
// }

.ant-select[nzType="two"] {
  border: none;
  background-color: transparent;
  margin-right: 30px;

  .ant-select-selection {
    height: 36px;

    .ant-select-selection__rendered {
      line-height: 36px;
    }
  }

  nz-select-top-control {
    // background-color: #f4fbff !important;
    background-color: transparent !important;
    padding: 0px 0px !important;
  }

  nz-select-arrow {
    color: #131523 !important;
  }
}

nz-select {
  // nz-time-picker {
  //   width: 100%;
  //   min-width: 160px;
  // }
  width: 100%;
  // min-width: 160px;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  // font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  // border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  // .ant-select {
  //   nz-select-top-control {
  //     background: red;
  //   }
  // }
  //   .ant-select {
  //   border: 1px solid #d9d9d9;
  //   border-radius: 5px;
  //   .ant-select-selection {
  //     height: 32px;
  //     .ant-select-selection__rendered {
  //       line-height: 32px;
  //     }
  //   }
  // }
  //   .ant-select[nzType="two"] {
  //   border: none;
  //   background-color: #f4fbff;
  //   .ant-select-selection {
  //     height: 32px;
  //     .ant-select-selection__rendered {
  //       line-height: 32px;
  //     }
  //   }
  //   nz-select-top-control {
  //     background-color: #f4fbff !important;
  //   }
  // }
  //   .ant-select-arrow,
  //   .ant-select-clear {
  //     position: absolute;
  //     right: 0px;
  //     width: 30px;
  //     height: 12px;
  //     font-size: 12px;
  //     font-style: normal;
  //     text-transform: none;
  //     text-align: center;
  //     height: 100%;
  //     margin-top: 0px;
  //     top: 0%;
  //     color: #cbcbcb;
  //     // background-color: #074494;
  //     border-radius: 0px 5px 5px 0px;
  //     i {
  //       padding-top: 42%;
  //     }
  //   }
  //   .ant-select-clear:hover {
  //     color: rgb(243 245 254 / 75%);
  //   }
  // }

  // .ant-select-multiple .ant-select-selection-item-remove {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   color: white;
}

.select-item {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    transition: 0.3s;
  }
}

// .ant-select-disabled.ant-select-multiple .ant-select-selection-item {
//   color: #bfbfbf;
//   border-color: #bfbfbf;
//   cursor: not-allowed;
// }

// .ant-select-multiple .ant-select-selection-item {
//   background: #6d6d6d;
//   border: 1px solid #6d6d6d;
//   color: white;
//   border-radius: 2px;
// }

.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.grid-col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.grid-col-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.obj-status {
  width: 9rem;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.9em;
  color: white;

  &-disable {
    @extend .obj-status;
    background-color: #bbbbbb;
  }

  &-active {
    @extend .obj-status;
    background-color: $active-color;
  }

  &-deactive {
    @extend .obj-status;
    background-color: $action-reject-color;
  }

  &-not-yet {
    @extend .obj-status;
    background-color: #b99446;
  }
}

.ic-svg {
  height: 0.875rem;
  margin-top: -0.25rem;
  margin-right: 0.25rem;
}

.table-icon-wrapper {
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #086fd0;
  border-radius: 50%;
  margin-right: 10px;
}

.avatar-uploader > .ant-upload {
  // width: 8rem !important;
  // height: 8rem !important;
  border-radius: 50%;
  border: none !important;
  background-color: #e2e2e2 !important;
}

.field-view {
  margin: 0;
  width: 100%;
  min-height: 36px;
  padding: 4px 11px;
  color: #4e4e4e;
  font-size: 14px;
  line-height: 1.5;
  background-image: none;
  border-radius: 0.25rem;
  background-color: #e6e6e6;
  border: 1px solid #d9d9d9;
  cursor: not-allowed;
}

.btn-hyperlink {
  color: #173e67;
  cursor: pointer;
}

.hyperlink {
  color: $main-color;
  cursor: pointer;
}

.ant-picker.ant-picker-disabled {
  background: #ececec;
  border: none;
  cursor: not-allowed;
  color: #4e4e4e !important;
  background-color: #e6e6e6;
  border: 1px solid #d9d9d9;
}

// .ant-select-disabled.ant-select:not(.ant-select-customize-input)
//   .ant-select-selector {
//   color: black;
//   background: #ececec;
//   cursor: not-allowed;
//   border: none;
// }
// .ant-picker-input > input:placeholder-shown {
//   text-align: start;
// }

.ant-picker-input > input-disabled,
.ant-picker-input > input[disabled] {
  color: #212529;
  cursor: not-allowed;
  opacity: 1;
  font-weight: 400;
}

// nz-input
// nz-input-group {
//   border-color: transparent !important;
// }
.ant-input[disabled] {
  color: #4e4e4e !important;
  background-color: #e6e6e6;
  cursor: not-allowed;
  opacity: 1;
  border: 1px solid #d9d9d9;
}

input:disabled {
  background-color: #ececec;
  border: none;
  cursor: not-allowed;
}

.ant-input {
  border-radius: 0.25rem;
}

.ant-input:focus {
  border-color: #086fd0;
}

.ant-input[disabled]:hover {
  border-color: #d9d9d9;
  border-right-width: 1px !important;
}

.ant-input-affix-wrapper {
  padding: 0px 11px 0px 15px;
  border: 1px solid #ced4da;
}

.ant-notification-notice-message {
  color: white;
}

.anticon.ant-notification-notice-icon-info {
  color: white;
}

.ant-notification-notice-close-x {
  color: white;
}

.anticon.ant-notification-notice-icon-success {
  color: white;
}

.anticon.ant-notification-notice-icon-error {
  color: white;
}

.is-invalid {
  border: 1px solid #dc3545 !important;
  border-radius: 5px;
}

.invalid-feedback {
  font-size: 13px;
  color: red;
}

.ant-tabs-top > .ant-tabs-nav {
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.ant-picker {
  display: block;
  width: 100%;
  height: 32px;
  padding: 0.375rem 0.375rem;
  font-weight: 400;
  line-height: 1;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ant-pagination-total-text {
  position: absolute;
  left: 0.5rem;
}

.error-tailor-has-error {
  border-color: red !important;
}

.ant-pagination-item-link {
  .anticon-right,
  .anticon-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// Input
.ant-input {
  height: 36px;
  border: 1px solid #ced4da;
  padding: 6px 12px;
}

.ant-input[disabled] {
  color: #4e4e4e !important;
  background-color: #f0f2f5;
  cursor: not-allowed;
  opacity: 1;
  border: 1px solid #d9d9d9;
}

.ant-select-disabled.ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  color: #4e4e4e;
  background: #f0f2f5;
  cursor: not-allowed;
}

.text-filed {
  padding: 4px 11px;
  color: #4e4e4e !important;
  background-color: #e6e6e6;
  opacity: 1;
  border: 1px solid #d9d9d9;
  border-radius: 0.25rem;
  cursor: not-allowed;
  min-height: 36px;
}

// Modal
.ant-modal {
  width: 1000px;
}

.ant-modal-close-x {
  width: 28px;
  height: 28px;
  line-height: 21px;
  font-size: 14px;
}

.ant-modal-close {
  background-color: #f4f5f7;
  border-radius: 5px;
  margin: 15px;
}

.ant-modal-header {
  padding: 10px 14px;
}

// button
.but-width {
  min-width: 100px;
}

// Step
.ant-steps-item-wait .ant-steps-item-icon {
  border-style: solid;
}

.form-control {
  font-size: 100%;
}

.form-control:focus,
.ant-picker:focus {
  color: #212529;
  background-color: #fff;
  border-color: #0870d1;
  outline: 0;
  box-shadow: 0 0 45px 0 rgb(240 240 240);
}

.form-control:hover {
  border-color: #0870d1;
}

// RADIO BUTTON

// custom radio button
.ant-radio-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-color: #666;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  transition: all 0.3s;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #216ccf;
}

.ant-radio-inner::after {
  position: absolute;
  top: 3px;
  left: 9px;
  display: table;
  width: 10px;
  height: 16px;
  background-color: white;
  border-top: 0;
  border-left: 0;
  border-radius: 0px;
  border: solid #216ccf;
  border-width: 0 3px 3px 0;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  content: " ";
}

.ant-radio-checked .ant-radio-inner::after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

.status-booking {
  &-new-text {
    color: #0870d1;
  }
  &-processing-text {
    color: #df7400;
  }
  &-accommodation-wait-confirm-text {
    color: #a09500;
  }
  &-accommodation-confirmed-text {
    color: #df7400;
  }
  &-confirmed-text {
    color: #139a57;
  }
  &-closed-text {
    color: #989898;
  }
  &-cancelled-text {
    color: #050d2f;
  }
}

.status-booking {
  &-new-border-left::before {
    background-color: #0870d1;
  }
  &-processing-border-left::before {
    background-color: #df7400;
  }
  &-accommodation-wait-confirm-border-left::before {
    background-color: #a09500;
  }
  &-accommodation-confirmed-border-left::before {
    background-color: #df7400;
  }
  &-confirmed-border-left::before {
    background-color: #139a57;
  }
  &-closed-border-left::before {
    background-color: #989898;
  }
  &-cancelled-border-left::before {
    background-color: #050d2f;
  }
}

.status-card {
  &-working-border-left::before {
    background-color: #0870d1;
  }
  &-notworking-border-left::before {
    background-color: #f5a066;
  }
  &-expired-border-left::before {
    background-color: #7f7f7f;
  }
}

.order-status {
  &--new-border-left::before {
    background-color: #f5a066;
  }
  &--cancelled-border-left::before {
    background-color: #7f7f7f;
  }
  &--paid-border-left::before {
    background-color: #0870d1;
  }
  &--received-border-left::before {
    background-color: #0ba747;
  }
}

.status-support {
  &-new-border-left::before {
    background-color: #0870d1;
  }
  &-closed-border-left::before {
    background-color: #139a57;
  }
}

.status-booking {
  width: 9rem;
  padding: 0.4rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.9em;

  &-all {
    // background-color: white;
    color: black;

    .ant-radio-inner {
      border-color: #0870d1;
    }

    &:hover {
      // background-color: #0870d1;
      background: #0870d1;
      color: #fff;
      border-radius: 20px;
    }
  }

  &-all.ant-radio-wrapper-checked {
    background-color: #0872fc;
  }

  &-new-radio {
    .ant-radio-inner {
      border-color: #0872fc;
    }
    color: #0872fc;

    &:hover {
      // background-color: #0870d1;
      background: #0872fc;
      color: #fff;
      border-radius: 20px;
    }
  }

  &-new-radio.ant-radio-wrapper-checked {
    background-color: #0872fc;
  }

  &-new {
    background-color: #0872fc;
    color: #fff;
  }

  &-processing-radio {
    .ant-radio-inner {
      border-color: #df7400;
    }
    color: #df7400;

    &:hover {
      background: #df7400;
      color: #fff;
      border-radius: 20px;
    }
  }

  &-processing {
    background-color: #df7400;
    color: white;
  }

  &-accommodation-wait-confirm-radio {
    // background-color: #a09500;
    .ant-radio-inner {
      border-color: #a09500;
    }

    color: #a09500;

    &:hover {
      // background-color: #a09500;
      background: #a09500;
      color: #fff;
      border-radius: 20px;
    }
  }

  &-accommodation-wait-confirm {
    background-color: #a09500;
    color: white;
  }

  &-accommodation-confirmed-radio {
    // background-color: #df7400;
    .ant-radio-inner {
      border-color: #df7400;
    }

    color: #df7400;

    &:hover {
      // background-color: #df7400;
      background: #df7400;
      color: #fff;
      border-radius: 20px;
    }
  }

  &-accommodation-confirmed {
    background-color: #df7400;
    color: white;
  }

  &-confirmed-radio {
    // background-color: #139a57;
    .ant-radio-inner {
      border-color: #139a57;
    }
    color: #139a57;

    &:hover {
      // background-color: #139a57;
      background: #139a57;
      color: #fff;
      border-radius: 20px;
    }
  }

  &-confirmed-radio.ant-radio-wrapper-checked {
    background-color: #139a57;
  }

  &-confirmed {
    background-color: #139a57;
    color: #fff;
  }

  &-cancelled-radio {
    // background-color: #050D2F;
    .ant-radio-inner {
      border-color: #050d2f;
    }
    color: #050d2f;

    &:hover {
      // background-color: #050D2F;
      background: #050d2f;
      color: #fff;
      border-radius: 20px;
    }
  }

  &-cancelled-radio.ant-radio-wrapper-checked {
    background-color: #050d2f;
  }

  &-cancelled {
    background-color: #050d2f;
    color: white;
  }

  &-closed-radio {
    // background-color: #989898;
    .ant-radio-inner {
      border-color: #989898;
    }
    color: #989898;

    &:hover {
      // background-color: #989898;
      background: #989898;
      color: #fff;
      border-radius: 20px;
    }
  }

  &-closed-radio.ant-radio-wrapper-checked {
    background-color: #989898;
  }

  &-closed {
    background-color: #989898;
    color: #fff;
  }
}

.booking-general {
  &-new {
    background-color: #e2efff;
  }

  &-accommodation-wait-confirm {
    background-color: #f0eee0;
  }

  &-accommodation-confirmed {
    background-color: #faede0;
  }

  &-processing {
    background-color: #faede0;
  }

  &-booking-confirmed {
    background-color: #dff7ea;
  }

  &-cancelled {
    background-color: #f1f1f1;
  }

  &-closed {
    background-color: #e9e8e8;
  }
}

// tabset

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #086fd0;
}

.ant-tabs-ink-bar {
  background: none;
}

.ant-tabs-tab-active::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  height: 1px;
  width: 20%;
  border-radius: 19px;
  border-bottom: 4px solid #0073f7;
}

.ant-tabs-tab-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 40%;
  height: 1px;
  width: 20%;
}

.ant-tabs-nav {
  background-color: #f6f7f9;
  margin: 0 0 8px 0;
  border-bottom: solid 1px #b3b6b7;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.orrder-tab-wrapper {
  .ant-tabs-nav {
    background-color: #fff !important;
  }
}

.ant-tabs-tab {
  padding: 8px 16px;
}

.ant-tabs-tabpane:last-child {
  max-height: auto;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background: #6f6f6f;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #6f6f6f;
  }
}

// switch
.ant-switch {
  height: 24px;
  min-width: 60px;
  background-color: #fff;
}

.ant-switch-handle {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 26px;
  height: 26px;
  transition: all 0.1s ease-in-out;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #4e4e4e;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgb(0 35 11 / 20%);
    transition: all 0.2s ease-in-out;
    content: "";
  }
}

.ant-switch-checked {
  background-color: #fff;

  .ant-switch-handle {
    &::before {
      background-color: #086fd0;
    }
  }
}

.ant-switch-inner {
  color: #4e4e4e;
}

// TABLE

.ant-table-tbody > tr > td {
  padding: 16px;
}

tbody {
  td {
    border-bottom: 1px solid #e3e3e3 !important;
    background-color: #f0f2f5;
    color: #666666;
    // text-transform: uppercase;
  }
}

thead {
  th {
    padding: 24px 8px;
    font-weight: normal;
    border: none !important;
    text-align: center;
    color: #666666;
    font-size: 13px;
  }
}

.ant-table-thead > th:first-child {
  border-top-left-radius: 10px;
}

.ant-table-thead > th:last-child {
  border-top-right-radius: 10px;
}

.ant-table-tbody > tr.ant-table-row:hover > td:first-child {
  border-left: solid 4px #086fd0;
  background-color: white !important;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: white;
}

// thead {
//   th {
//     background-color: white !important;
//     padding: 1.6rem 0.5rem;
//     font-weight: normal;
//     border: none !important;
//     // text-align: center;
//     color: #666666;
//     border-radius: 5px 5px 0 0;
//   }
// }

.ant-table-cell-fix-left,
.ant-table-cell-fix-right {
  position: sticky !important;
  z-index: 1 !important;
  background: #fff;
}

// ! table-main
.table-main {
  .ant-table-tbody > tr > td {
    padding: 16px;
  }

  tbody tr .ant-table-cell-fix-left {
    background: #f0f2f5;
  }
}

// ? table-popup
.table-popup {
  tbody {
    td {
      background-color: #fff;
    }
  }

  tbody tr .ant-table-cell-fix-left {
    background: #fff !important;
  }

  .ant-table-thead > th {
    border-bottom: dashed 1px rgba(119, 123, 124, 0.4) !important;
    padding: 1.1rem 0.5rem !important;
  }

  .ant-table-tbody > tr > td {
    padding: 1rem;
    background-color: transparent;
  }

  .ant-table-tbody > tr.ant-table-row:hover > td:first-child {
    border-left: none;
  }

  .ant-table-content,
  .ant-table-body {
    overflow: scroll;

    &::-webkit-scrollbar {
      width: 5px !important;
      height: 5px !important;
    }

    &::-webkit-scrollbar-track {
      background: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
      background: #086fd0;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #086fd0;
    }
  }

  .ant-modal-content {
    border-radius: 0px;
  }

  .ant-modal-content {
    border-radius: 0px;
  }

  .ant-table .ant-table-container::after {
    width: 5px !important;
  }

  .ant-table-header {
    overflow: hidden !important;
  }
}

// DRAWER
.ant-drawer-body {
  max-height: 100vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0px;
  }

  .drawer {
    background-color: white;
    padding: 0 20px 0 0;

    @media (max-width: 600px) {
      padding: 0 !important;
      .header-title {
        .header-title_text {
          font-size: 20px;
        }
      }

      .header-content {
        .header-subcontent {
          padding: 6px 10px;
        }
      }
    }

    .font-contain-ic-close {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 26px;
      height: 25px;
      background-color: #f4f5f6;
      color: #777b7c;
      border-radius: 20%;
    }

    .header-title {
      .font-contain-ic-infor {
        width: 24px;
        height: 24px;
        background-color: #086fd0;
        border-radius: 53%;
      }

      .header-title_text {
        font-size: 20px;
        font-weight: 500;
        margin-left: 10px;
        color: #131523;

        @media (min-width: 425px) {
          font-size: 22px;
        }

        @media (min-width: 576px) {
          font-size: 24px;
        }
      }
    }

    .header-content {
      height: 100%;

      .header-subcontent {
        padding: 8px;
        border: dashed 1px #e3e3e3;

        @media (min-width: 375px) {
          padding: 8px 16px;
        }

        .font-dot {
          width: 6px;
          height: 6px;
          background: #086fd0;
          border-radius: 50%;
        }

        &__title {
          font-size: 12px;

          @media (min-width: 375px) {
            font-size: 14px;
          }

          @media (min-width: 425px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 860px) {
  .ant-drawer-content-wrapper {
    width: 100% !important;
  }
}

@media (max-width: 600px) {
  .ant-drawer-body {
    padding: 15px !important;
  }
}

// * table-drawer

.table-drawer {
  .ant-table-header {
    background-color: #086fd0;
    overflow: hidden;

    thead {
      th {
        color: #fff;
        padding: 14px 5px;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .ant-table-body,
  .ant-tabs-tabpane:last-child {
    max-height: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
      background: #6f6f6f;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #6f6f6f;
    }
  }

  .ant-table-thead > th:first-child {
    border-top-left-radius: 0;
  }

  .ant-table-header {
    overflow: unset;
  }

  // .ant-table-tbody>tr.ant-table-row:hover>td {
  //   background-color: #F6F7F9;
  // }

  tr .ant-table-cell-fix-left {
    background: #fff !important;
  }

  thead {
    th {
      padding: 0.2rem 0.2rem;
      background-color: #0870d1;
      color: #fff;
    }
  }

  .ant-table-tbody > tr > td {
    padding: 10px;
  }

  tbody {
    td {
      padding: 1rem 0.2rem;
      background-color: #fff;
      color: #666666;
    }
  }
}

// DropDown
.dropdown-menu {
  font-size: 100%;
}

.ant-modal-body {
  padding: 0;
}

.cdk-virtual-scroll-viewport {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.form-status {
  padding: 0.3rem 0.5rem;
  border-radius: 0.25rem;
  width: 10rem;
  text-align: center;
  text-transform: uppercase;
}

.contract-status--not-release,
.obj-status-deactive,
.order-status--new {
  color: #f5a066;
  background-color: #f4ece7 !important;
  border: solid 2px #f5a066;
}

.card-fee-status--new {
  color: #f5a066;
  background-color: #fff !important;
  border: solid 2px #f5a066;
}

.card-fee-status--paid {
  color: #0073f7;
  background-color: #fff !important;
  border: solid 2px #0073f7;
}

.card-fee-status--free {
  color: #0ba747;
  background-color: #fff !important;
  border: solid 2px #07c44f;
}

.contract-status--released,
.obj-status-active,
.order-status--paid {
  color: #0073f7;
  background-color: #dbe7f2 !important;
  border: solid 2px #0073f7;
}

.order-status--received {
  color: #0ba747;
  background-color: #bee5cd !important;
  border: solid 2px #07c44f;
}

.contract-status--new {
  color: #ffc107;
  background-color: rgba(255, 255, 0, 0.13) !important;
  border: solid 2px #ffda07;
}

.obj-status-expired,
.contract-status--liquidated,
.order-status--cancelled {
  color: #7f7f7f;
  background-color: #e7e8eb !important;
  border: solid 2px #7f7f7f;
}

.contract-status--paid {
  color: #0073f7;
  border-color: #0073f7;
}

.contract-status--unpaid {
  color: #a29523;
  border-color: #a29523;
}

.contract-status {
  &--new-border-left::before {
    background-color: #ffc107;
  }
  &--not-release-border-left::before {
    background-color: #f5a066;
  }
  &--released-border-left::before {
    background-color: #0073f7;
  }
  &--liquidated-border-left::before {
    background-color: #7f7f7f;
  }
}

.order-status--cancelled {
  background-color: #828282;
}

.order-status--paid {
  background-color: #139a57;
}

.order-status--received {
  background-color: #0c5f36;
}

.card-fee-status--paid {
  background-color: #0872fc;
}

.card-fee-status--free {
  background-color: #23b398;
}

.card-fee-status--new {
  background-color: #a09500;
}

.support-ticket-status {
  &-all-radio {
    color: #0870d1;
    .ant-radio-inner {
      border-color: #0870d1;
    }
    &:hover {
      background: #0870d1;
      color: #fff;
      border-radius: 20px;
    }
  }
  &-all-radio.ant-radio-wrapper-checked {
    background-color: #0872fc;
  }
}

.support-ticket-status {
  &-new-radio {
    color: #0870d1;
    .ant-radio-inner {
      border-color: #0870d1;
    }
    &:hover {
      background: #0870d1;
      color: #fff;
      border-radius: 20px;
    }
  }
  &-new-radio.ant-radio-wrapper-checked {
    background-color: #0872fc;
  }
  &-new {
    background-color: #0872fc;
    color: #fff;
  }
}

.support-ticket-status {
  &-closed-radio {
    color: #139a57;
    .ant-radio-inner {
      border-color: #139a57;
    }
    &:hover {
      background: #139a57;
      color: #fff;
      border-radius: 20px;
    }
  }
  &-closed-radio.ant-radio-wrapper-checked {
    background-color: #139a57;
  }
  &-closed {
    background-color: #139a57;
    color: #fff;
  }
}

.support-ticket-category-closed {
  color: #139a57;
}

.support-ticket-category-new {
  color: #0872fc;
}

// .support-ticket-status--all-radio {
//   color: black;
//   &:hover {
//     background-color: #0872fc;
//     color: #fff;
//     border-radius: 20px;
//   }
// }

// .support-ticket-status--new-radio {
//   color: #0872fc;
//   &:hover {
//     background-color: #0872fc;
//     color: #fff;
//     border-radius: 20px;
//   }
// }

// .support-ticket-status--closed-radio {
//   color: #139a57;
//   &:hover {
//     background-color: #139a57;
//     color: #fff;
//     border-radius: 20px;
//   }
// }

//label
.s-label {
  font-size: 12px;
}

// emai
.font-email {
  width: 100%;
  word-wrap: break-word;
}

.underline {
  text-decoration: underline;
  color: black !important;
}

.text-justify {
  text-align: justify;
}

//nz-footer
// .ant-layout-footer {
//   padding: 9px 50px !important;
// }

.font-dot {
  width: 6px;
  height: 6px;
  background: #086fd0;
  border-radius: 50%;
}

.ant-modal-content {
  border-radius: 0;
}

.color-label {
  color: #666666 !important;
}

//heading
.header-content {
  .heading {
    color: #b7bdcc;
    font-size: 22px;
    position: relative;
    font-weight: 600;
    padding: 10px 0;
    border-bottom: 2px solid #0870d1;
    letter-spacing: 1px;
    line-height: initial;

    @media (max-width: 576px) {
      font-size: 18px;
    }

    &:hover {
      color: #0870d1;
      cursor: pointer;
    }
  }
}

//backgound
.background-whitesmoke {
  background: #f4f5f7;
}

.background-black {
  background: rgb(5, 13, 47);
}

.background-royalblue {
  background: #0870d1;
}

// hr dashed
.hr-dashed {
  border-top: dashed 1px #efefef;
}

// drawer close btn
.ant-drawer-close:hover {
  svg {
    fill: #0870d1;
  }
}

//rotate
.rotate-180 {
  transform: rotate(180deg);
}

// CKEDITOR
.ckeditor-content {
  figure {
    img {
      max-width: 100%;
      border-radius: 8px;
      margin: 10px 0 14px;
    }

    .image {
      max-width: 100%;
      border-radius: 8px;
      margin: 10px 0 14px;
    }
  }
}

// text overflow scroll

.text-scroll {
  max-height: 60px;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: justify;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

// Orientation Lock
// @media screen and (min-width: 320px) and (max-width: 812px) and (orientation: landscape) {
//   html {
//     transform: rotate(-90deg);
//     transform-origin: left top;
//     width: 100vh;
//     overflow-x: hidden;
//     position: absolute;
//     top: 100%;
//     left: 0;
//   }
// }

@media (max-width: 575.98px) {
  .ant-table-fixed > col:first-child {
    width: 76px;
    min-width: 76px;
  }

  .ant-modal {
    top: 2px;
    padding-bottom: 8px;
  }
}

@media (max-width: 767.98px) {
  .col-reverse {
    flex-direction: column-reverse;
  }
}
