<div class="popup-container">
  <div class="content border-top-radius h-50 w-300 p-0">
    <div class="nz-row" nzType="flex" nzJustify="center" nzAlign="center">
      <div class="nz-col" nzSpan="12">
        <div class="popup-message text-center ">
          <div class="d-flex align-items-center justify-content-center p-1">
            <p class="font-title mb-0 me-3">Mật khẩu mới cho tài khoản này:</p>
            <div class="font-password" (click)="copyToClipboard($event)">
              {{password}}
            </div>
          </div>
          <p class="font-note mb-3">(Mật khẩu cũng đã được gửi về mail người dùng, tuy nhiên bạn vẫn có thể sao chép mã
            và gửi
            nhanh đến họ)</p>
          <div class="d-flex justify-content-center mt-2">
            <button nz-button nzType="primary" class="me-2" (click)="closePopupYes($event)">Sao chép</button>
            <button nz-button  (click)="closePopupNo()">Đóng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
