<section class="list-member">
  <div class="header ">
    <div class="title">
      <span>Danh sách nhóm người dùng</span>
    </div>
    <hr>
    <div class="content">
      <div class="content-header d-flex align-items-center justify-content-between">
        <div class="search">
          <nz-input-group nzSearch nzSize="default">
            <input type="text" nzSize="default" nz-input (keyup)="searchTerm$.next($event.target.value)" [value]="searchTerm$.value" placeholder="Nhập Mã/Loại Phòng" />
          </nz-input-group>
          <!-- <ng-template #suffixButton>
            <button nz-button class="button" nzSize="default" nzSearch>Tìm kiếm</button>
          </ng-template> -->
        </div>
        <div class="group-btn">
          <button nz-button class="button" nzSize="default" [routerLink]="'/dashboard/source-data-management/room-type/create'"
            [queryParams]="{typeForm: 'create'}">
            <i class="fa-solid fa-plus pe-2 fz-14"></i>
            Tạo mới
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="content">
    <div class="table-main">
      <nz-table #basicTable class="table-list mt-3" [nzFrontPagination]="false" [nzTemplateMode]="true" [nzLoading]="false" [nzData]="dataSource"
        [nzScroll]="{ x: '800px' }" [nzTotal]="totalCount" [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex"
        (nzPageIndexChange)="onPageIndexChange($event)" (nzPageSizeChange)="onPageSizeChange($event)" [nzShowTotal]="rangeTemplate"
        [nzWidthConfig]="['100px', '200px', '300px', '200px', '150px', '100px']">
        <thead>
          <th nzLeft="0px" class="text-center">STT</th>
          <th class="text-center">Mã</th>
          <th class="">Loại phòng</th>
          <th class="">Mô tả loại phòng</th>
          <th class="text-center">Trạng thái</th>
          <th nzRight="0px" class="text-center">Thao tác</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataSource; let i = index" >
            <td nzLeft="0px" class="text-center">{{i + 1}}</td>
            <td class="text-center">{{item.no}}</td>
            <td class="text-start">{{item.name}}</td>
            <td class="">{{item.description}}</td>
            <td class="text-center">{{item.status == true ? 'Đang hoạt động' : 'Không hoạt động' }}</td>
            <td nzRight="0px" class="text-center">
              <div class="d-flex align-items-center justify-content-evenly">
                <i nz-tooltip="chỉnh sửa" class="fa-solid fa-pen-to-square pointer c-dodgerblue" 
                [routerLink]="['/dashboard/source-data-management/room-type/edit', item.roomTypeID]"></i>
                <i nz-tooltip="xóa" class="fa-regular fa-trash-can pointer c-red" (click)="deleteProgram(item)"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <div *ngIf="(dataSource ?? []).length === 0" class="d-flex justify-content-center mt-3">
        <p class="mb-0 text-center">Không có dữ liệu</p>
      </div>
    </div>
    <ng-template #rangeTemplate let-range="range" let-total>
      <div class="mt-1">Tổng số {{ total }}</div>
    </ng-template>
  </div>
  <div class="footer">

  </div>
</section>

