<div *ngIf="isCorrectFormat" [innerHTML]="content | safe: 'html'"></div>
<div *ngIf="!isCorrectFormat" class="popup-container">
  <div class="content border-top-radius h-50 w-300 p-0">
    <div class="text-center popup-title mb-0">
      Vui lòng kiểm tra lại link nhúng bản đồ (hiện tại chưa có hoặc link chưa đúng cách)
    </div>
    <div class="nz-row" nzType="flex" nzJustify="center" nzAlign="center">
      <div class="nz-col" nzSpan="12">
        <div class="popup-message text-center">
          <div class="d-flex justify-content-center mt-2">
            <button nz-button (click)="cancel()">Đóng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
