.group-button {
  display: flex;
  align-self: end;
  justify-content: center;

  @media (min-width: 576px) {
    justify-content: end;
  }

  @media (min-width: 926px) {
    justify-content: end;
  }

  .btn-button {
    border: none !important;
    text-transform: uppercase;
    padding: 8px 4px 8px 8px;
    background: #188ffd;
    color: #fff;
    border: none;
    font-size: 12px;

    @media (min-width: 425px) {
      font-size: 14px;
      padding: 8px 10px;
    }

    .btn-text {
      margin: 0 4px 0 6px;
      line-height: 20px;
      display: inline-block;

      @media (min-width: 576px) {
        // line-height: 23px;
        margin: 0 4px;
      }

      @media (min-width: 926px) {
        margin: 0 8px;
      }
    }

    &:nth-child(2) {
      background-color: #fff;
      border: 1px dashed #ccc !important;
      color: #777b7c;
    }
    &:nth-child(3) {
      background-color: #fff;
      border: 1px dashed #ccc !important;
      i{
        color: #777B7C;
        padding: 2px;
      }
    }

    &:focus {
      box-shadow: none !important;
    }
  }
}
.container {
  .info {
    .img-wrapper {
      height: 250px;
      position: relative;
      .img {
        position: relative;
      }
      nz-upload {
        position: absolute;
        background: #efefef73;
        bottom: 0px;
        right: 11px;
      }
    }
  }
}

:host::ng-deep .ant-btn {
  padding: 4px 35px !important;
}

.account-view {
  .box {
    height: calc(100vh - 330px);

    @media (max-height: 900px) {
      height: 100% !important;
    }
  }
}
.account-view{
  .box{
    .content-head{
      .heading{
        @media (max-width:576px) {
          font-size: 18px;
        }
      }
      .group-button{
        .rounded-pill{
          .btn-button{
            @media (max-width:576px) {
              padding: 5px 8px 5px 8px;
            }
            i{
              @media (max-width:576px) {
                font-size: 13px;
              }
            }
          }
          svg{
            @media (max-width:767px) {
              width: 20px;
              height: 20px;
            }
            @media (max-width:576px) {
              width: 15px;
              height: 15px;
            }
          }
        }
      }
    }
  }
}
