.main {
  // height: 100%;
  // display: grid;
  // grid-template-columns: 1fr;
  // grid-template-rows: 70px 0px auto 74px;
  max-width: 1920px;
}

.ant-spin-nested-loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
}
