.main {
  .header {
    box-shadow: 0px 1px 10px 0 #ccc;
    position: relative;
    z-index: 999;
  }
  .content {
    .scroll-to-top {
      position: fixed;
      background: rgb(35, 122, 229);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      bottom: 50px;
      right: 35px;
      cursor: pointer;
      z-index: 99;
    }
  }
}
