.main {
  // display: grid;
  // grid-template-rows: auto 1fr auto;
  // height: 100vh;
  max-width: 1920px;
}

.ant-spin-nested-loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
}
