<section class="booking-form">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-10">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-arrow-left fz-16 fw-700 me-2 pointer" (click)="backToList()"></i>
            <span>Thông tin chi tiết đặt phòng</span>
          </div>
          <div class="status-booking text-center" [class.status-booking-confirmed]="bookingModel?.status === 0"
            [class.status-booking-success]="bookingModel?.status === 1" [class.status-booking-canceled]="bookingModel?.status === 2"
            [class.status-booking-closed]="bookingModel?.status === 3">
            <p class="mb-0">
              {{bookingModel?.status == 0 ? 'Đã tiếp nhận'
              : (bookingModel?.status == 1 ? 'Đã xác nhận'
              : (bookingModel?.status == 2 ? 'Đã hủy'
              : 'Đã đóng'))}}
            </p>
          </div>
        </div>
        <hr>
        <div class="container card p-4 bgr-aliceblue mb-3">
          <div class="row">
            <div class="col-6 mb-3">
              <div class="row align-items-center">
                <div class="col-6 ">
                  <span>Mã đặt phòng:</span>
                </div>
                <div class="col-6">
                  <input type="text" nz-input disabled [(ngModel)]="bookingModel.no">
                </div>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="row align-items-center">
                <div class="col-6">
                  <span>Người đặt phòng:</span>
                </div>
                <div class="col-6">
                  <input type="text" nz-input [(ngModel)]="bookingModel.checkInName">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 mb-3">
              <div class="row align-items-center">
                <div class="col-6">
                  <span>Ngày đặt phòng:</span>
                </div>
                <div class="col-6">
                  <nz-date-picker class="w-100" type="text" nzFormat="dd/MM/yyyy" [(ngModel)]="bookingModel.bookingDate">
                  </nz-date-picker>
                </div>
              </div>
            </div>
            <div class="col-6 mb-3" *ngIf="bookingModel.status == 2">
              <div class="row align-items-center">
                <div class="col-6">
                  <span>Ngày hủy phòng:</span>
                </div>
                <div class="col-6">
                  <nz-date-picker class="w-100" type="text" [(ngModel)]="bookingModel.bookRoomDetail.cancelDate">
                  </nz-date-picker>
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center" *ngIf="bookingModel.status == 2">
            <div class="col-3">
              <span>Lý do hủy đặt phòng:</span>
            </div>
            <div class="col-9">
              <textarea name="" id="" class="w-100" rows="3" [(ngModel)]="bookingModel.bookRoomDetail.cancelReason"></textarea>
            </div>
          </div>
        </div>
        <div class="container card p-4 bgr-aliceblue mb-3">
          <span class="mb-3 fw-700">Thông tin đặt phòng</span>
          <div class="row">
            <div class="col-3 mb-3">
              <span>Cơ sở lưu trú:</span>
            </div>
            <div class="col-4 mb-3">
              <!-- <nz-select class="w-100" [(ngModel)]="bookingModel.accommodation.name" >
                <nz-option [nzValue]="bookingModel.accommodation" [nzLabel]="bookingModel?.accommodation?.name"></nz-option>
              </nz-select> -->
              <input type="text" nz-input [(ngModel)]="bookingModel?.accommodation.name">
            </div>
            <div class="col-4 mb-3 row align-items-center">
              <div class="col-6">
                <a href="javascript:void(0)" (click)="viewAccommodation(bookingModel.accommodation.accommodationID)">Xem thông tin CSLT</a>
              </div>
              <div class="col-6">
                <a href="javascript:void(0)" (click)="viewUtilities(bookingModel.accommodation.accommodationID)">Xem tiện ích</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3 mb-3">
              <span>Loại phòng:</span>
            </div>
            <div class="col-4 mb-3">
              <!-- <nz-select class="w-100" [(ngModel)]="bookingModel.bookRoomDetail.room.name">
                <nz-option [nzValue]="bookingModel.bookRoomDetail.room.name" [nzLabel]="bookingModel.bookRoomDetail.room.name"></nz-option>
              </nz-select> -->
              <input type="text" nz-input [(ngModel)]="bookingModel?.bookRoomDetail?.room.name">
            </div>
            <div class="col-4 mb-3 row align-items-center ">
              <div class="col-12">
                <a href="javascript:void(0)" (click)="viewOtherEndow()">Xem phòng áp dụng tại CSLT</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 mb-3">
              <div class="row align-items-center">
                <div class="col-6">
                  <span>Ngày nhận phòng:</span>
                </div>
                <div class="col-6">
                  <nz-date-picker class="w-100" [(ngModel)]="bookingModel.fromDate" nzFormat="dd/MM/yyyy"></nz-date-picker>
                </div>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="row align-items-center">
                <div class="col-6">
                  <span>Ngày trả phòng:</span>
                </div>
                <div class="col-6">
                  <nz-date-picker class="w-100" [(ngModel)]="bookingModel.toDate" nzFormat="dd/MM/yyyy"></nz-date-picker>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 mb-3">
              <div class="row align-items-center">
                <div class="col-6 ">
                  <span>Số phòng đặt:</span>
                </div>
                <div class="col-6">
                  <input type="text" nz-input [(ngModel)]="bookingModel.qty">
                </div>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="row align-items-center">
                <div class="col-6">
                  <span>Tổng số đêm đặt:</span>
                </div>
                <div class="col-6">
                  <input type="text" nz-input [(ngModel)]="bookingModel.totalDay">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 mb-3">
              <div class="row align-items-center">
                <div class="col-6 ">
                  <span>Số người lớn:</span>
                </div>
                <div class="col-6">
                  <input type="text" nz-input [(ngModel)]="bookingModel.personNumber">
                </div>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="row align-items-center">
                <div class="col-6">
                  <span>Số trẻ em:</span>
                </div>
                <div class="col-6">
                  <input type="text" nz-input [(ngModel)]="bookingModel.childNumber">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container card p-4 bgr-aliceblue mb-3">
          <span class="mb-3 fw-700">Thông tin người nhận phòng</span>
          <div class="row align-items-center">
            <div class="col-3 mb-3">
              <span>Họ và tên:</span>
            </div>
            <div class="col-9 mb-3">
              <input type="text" nz-input [(ngModel)]="bookingModel.checkInName">
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-3 mb-3">
              <span>Số điện thoại:</span>
            </div>
            <div class="col-9 mb-3">
              <input type="text" nz-input [(ngModel)]="bookingModel.checkInPhoneNumber">
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-3 mb-3">
              <span>CMND/CCCD:</span>
            </div>
            <div class="col-9 mb-3">
              <input type="text" nz-input [(ngModel)]="bookingModel.checkInIdentityCard">
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-3 mb-3">
              <span>Email:</span>
            </div>
            <div class="col-9 mb-3">
              <input type="text" nz-input [(ngModel)]="bookingModel.checkInMail">
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-3">
              <span>Lý do hủy đặt phòng:</span>
            </div>
            <div class="col-9">
              <textarea name="" id="" class="w-100" rows="3" [(ngModel)]="bookingModel.checkInNote"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
