<section class="container-fluid p-0">
  <div class="container">
    <div class="box row d-flex justify-content-between pt-4">
      <div class="first d-flex flex-column align-items-center col-12 col-sm-4">
        <div class="title">
          <h5 class="fw-700 text-center">Da Nang Bay Booking</h5>
        </div>
        <div class="content text-center text-sm-start">
          <p>33, An Nhơn 3, P. An Hải Bắc, Q. Sơn Trà, TP. Đà Nẵng</p>
          <p>24/7 hỗ trợ : 0889161328</p>
          <p>danangbaybooking@gmail.com</p>
        </div>
      </div>
      <div class="second d-flex flex-column align-items-center col-12 col-sm-4 mt-3 mt-sm-0">
        <div class="title">
          <h5 class="fw-700">Hỗ trợ khách hàng</h5>
        </div>
        <div class="content">
          <ul>
            <li>FAQ</li>
            <li>Phương thức thanh toán</li>
            <li>Cách đặt phòng</li>
            <li>Mẹo đặt phòng</li>
          </ul>
        </div>
      </div>
      <div class="third d-flex flex-column align-items-center col-12 col-sm-4 mt-3 mt-sm-0">
        <div class="title">
          <h5 class="fw-700">Theo dõi chúng tôi</h5>
        </div>
        <div class="content pointer mt-2">
          <i class="fa-brands fa-youtube pointer fz-30 me-3"></i>
          <i class="fa-brands fa-facebook pointer fz-30 me-3"></i>
          <i class="fa-brands fa-twitter pointer fz-30 me-3"></i>
          <i class="fa-brands fa-instagram pointer fz-30"></i>
        </div>
      </div>
    </div>
    <hr>
    <div class="copyright">
      <div class="second d-flex justify-content-center align-items-center">
        <p class="d-flex align-items-center">COPYRIGHT
          <svg id="Capa_1" class="mx-1" enable-background="new 0 0 443.294 443.294" height="20" viewBox="0 0 443.294 443.294" width="13"
            xmlns="http://www.w3.org/2000/svg" stoke>
            <path
              d="m221.647 443.294c-122.214 0-221.647-99.433-221.647-221.647s99.433-221.647 221.647-221.647 221.647 99.433 221.647 221.647-99.433 221.647-221.647 221.647zm0-415.588c-106.941 0-193.941 87-193.941 193.941s87 193.941 193.941 193.941 193.941-87 193.941-193.941-87-193.941-193.941-193.941z"
              fill="#000" />
            <path
              d="m221.647 332.471c-61.107 0-110.824-49.716-110.824-110.824s49.716-110.824 110.824-110.824c30.046 0 58.158 11.824 79.181 33.293l-19.805 19.372c-15.76-16.099-36.837-24.96-59.376-24.96-45.834 0-83.118 37.284-83.118 83.118s37.284 83.118 83.118 83.118c22.525 0 43.602-8.861 59.376-24.96l19.778 19.4c-21.01 21.456-49.121 33.266-79.154 33.267z"
              fill="#000" />
          </svg>
          2022 DA NANG BAY BOOKING. ALL RIGHT RESERVED
        </p>
      </div>
    </div>
  </div>
</section>
