<section class="container-fluid p-0">
  <div class="container">
    <div class="box row d-flex align-items-center justify-content-between py-5">
      <div class="first mt-4 col-4">
        <div class="title">
          <h5>Da Nang Bay Booking</h5>
        </div>
        <div class="content">
          <p>33, An Nhơn 3,P. An Hải Bắc,Q. Sơn Trà,TP. Đà Nẵng</p>
          <p>24/7 hỗ trợ : 1111111111</p>
          <p>danangbaybooking@gmail.com</p>
        </div>
      </div>
      <div class="second mt-4 col-4">
        <div class="title">
          <h5>Hỗ trợ khách hàng</h5>
        </div>
        <div class="content">
          <ul>
            <li>FAQ</li>
            <li>Phương thức thanh toán</li>
            <li>Cách đặt phòng</li>
            <li>Mẹo đặt phòng</li>
          </ul>
        </div>
      </div>
      <div class="third d-flex flex-column align-items-center mt-4 col-4">
        <div class="title">
          <h5>Theo dõi chúng tôi</h5>
        </div>
        <div class="content">
          <i class="fa-brands fa-youtube fz-30"></i>
          <i class="fa-brands fa-facebook fz-30"></i>
          <i class="fa-brands fa-twitter fz-30"></i>
          <i class="fa-brands fa-instagram fz-30"></i>
        </div>
      </div>
    </div>
    <!-- <div class=""></div> -->
  </div>
</section>
