<p class="f-title mb-0">Thông tin chi tiết tiện ích cung cấp</p>
<div class="row">
  <div class="utility-grid">
    <ng-container *ngFor="let item of iconUtilityList">
      <div class="d-flex flex-column align-items-center f-content">
        <div class="d-flex justify-content-center align-items-center" [class.bg-icon-normal]="item.checked && !item.isPrivate"
          [class.bg-icon-disabled]="!item.checked" [class.bg-icon-private]="item.checked && item.isPrivate">
          <div class="icon ms-3" [innerHTML]="item.icon | safe: 'html'"></div>
        </div>
        <p class="f-label mb-0 mt-2">{{item.displayText}}</p>
      </div>
    </ng-container>
  </div>
</div>
<div class="f-note">
  <div class="row">
    <div class="col-auto">
      <i class="mb-0">Chú thích</i>
    </div>
    <div class="col-auto">
      <div class="d-flex align-items-center">
        <div class="note-disable"></div>
        <p class="mb-0 ms-2">Tiện ích không được áp dụng tại CSLT</p>
      </div>
      <div class="d-flex align-items-center mt-1">
        <div class="note-enable"></div>
        <p class="mb-0 ms-2">Tiện ích được áp dụng tại CSLT</p>
      </div>
    </div>
  </div>

</div>
<div class="d-flex justify-content-center mt-3">
  <button nz-button (click)="cancel()">Đóng</button>
</div>
