<section class="room-type" >
  <form nz-form action="" [formGroup]="roomTypeForm" errorTailor>
    <div class="">
      <div class="header">
        <i class="fa-solid fa-arrow-left pointer me-3" [routerLink]="'/dashboard/source-data-management/room-type/list'"></i>
        <span class="">{{
          type === eTypeForm.create
          ? "Tạo mới loại phòng"
          : "Cập nhật thông tin loại phòng"
          }}
        </span>
        <!-- <a *ngIf="type !== eTypeForm.create">Chỉnh sửa</a> -->
      </div>
      <hr />
      <div class="content">
        <div class="row">
          <div class="col-xl-2 col-lg-1 col-md-1 col-sm-0 col-0"></div>
          <div class="col-xl-8 col-lg-10 col-md-10 col-sm-12 col-12">
            <div class="row mt-2">
              <div class="col-4 required">Mã: </div>
              <div class="col-8"><input nz-input class="form-control" formControlName="no"></div>
            </div>
            <div class="row mt-2">
              <div class="col-4 required">Loại phòng:</div>
              <div class="col-8">
                <input nz-input class="form-control" placeholder="Nhập" formControlName="name" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-4">Mô tả:</div>
              <div class="col-8">
                <textarea nz-input class="form-control" placeholder="Nhập" rows="4" formControlName="description"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4 mb-2">
          <div class="col-xl-2 col-lg-1 col-md-1 col-sm-0 col-0"></div>
          <div class="col-xl-8 col-lg-10 col-md-10 col-sm-12 col-12">
            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <button type="submit" (click)="submitForm()" class="me-2 btn-save" nz-button>
                  Lưu
                </button>
                <button type="button" nz-button class="ms-2 btn-cancel" [routerLink]="[
                    '/dashboard/source-data-management/room-type/list'
                  ]">
                  Hủy bỏ
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
