<div class="container">
  <nz-table #basicTable class="table-list mt-2" [nzFrontPagination]="false" [nzTemplateMode]="true" [nzData]="dataSource" [nzLoading]="false"
    [nzScroll]="{ x: '1300px' }" [nzWidthConfig]="['180px', '130px', '180px', '90px', '90px', '90px', '150px', '130px', 'auto', '40px']">
    <thead>
      <th nzLeft="0px" class="required">Hình ảnh</th>
      <th class="required text-center">Tên phòng</th>
      <th class="required text-center">Thuộc loại phòng</th>
      <th class="required text-center">Số người lớn tối đa</th>
      <th class="required text-center">Số phòng đã đặt</th>
      <th class="required text-center">Số phòng khả dụng</th>
      <th class="required text-center">Giá tiền</th>
      <th class="text-center">Tình trạng sử dụng phòng</th>
      <th class="text-center" >Ghi chú phòng</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataSource; let i = index">
        <td nzLeft="0px">
          <nz-upload *ngIf="!item?.image" class="avatar-uploader" nzName="avatar" nzListType="picture-card" [nzDisabled]="typeForm === eTypeForm.view"
            [nzShowUploadList]="false" [nzBeforeUpload]="beforeUpload" (nzChange)="handleChange($event, item)" [nzCustomRequest]="handleUpload">
            <ng-container *ngIf="typeForm !== eTypeForm.view">
              <svg class="icon-add-image" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <path id="ic_add_to_photos_24px"
                  d="M5.2,8.4H2V30.8A3.209,3.209,0,0,0,5.2,34H27.6V30.8H5.2ZM30.8,2H11.6A3.209,3.209,0,0,0,8.4,5.2V24.4a3.209,3.209,0,0,0,3.2,3.2H30.8A3.209,3.209,0,0,0,34,24.4V5.2A3.209,3.209,0,0,0,30.8,2ZM29.2,16.4H22.8v6.4H19.6V16.4H13.2V13.2h6.4V6.8h3.2v6.4h6.4Z"
                  transform="translate(-2 -2)" opacity="0.21" />
              </svg>
              <!-- <div [class.is-invalid]="!item.image && isSubmitted" class="position-absolute f-validate">
              </div> -->
            </ng-container>
          
          </nz-upload>
          <div class="position-relative" *ngIf="item?.image ">
            <img (click)="viewFullScreenImage([item?.image], 0)" class="w-100 pointer" [src]="item?.image" alt="">
            <i *ngIf="typeForm !== eTypeForm.view" (click)="deleteImage(item, i)" class="icon-close pointer position-absolute icon-delete-image" nz-icon
              nzType="close" nzTheme="outline"></i>
          </div>
        </td>
        <td>
          <input [disabled]="typeForm === eTypeForm.view" nz-input type="text" [(ngModel)]="item.name" placeholder="Nhập">
        </td>
        <td>
          <nz-select class="w-100" [nzDisabled]="typeForm === eTypeForm.view" nzShowSearch nzAllowClear [nzPlaceHolder]="'Chọn'" [(ngModel)]="item.roomType"
            [compareWith]="compareRoomType">
            <nz-option *ngFor="let item of roomTypeList" [nzValue]="item" [nzLabel]="item.name">
            </nz-option>
          </nz-select>
        </td>
        <td>
          <input [disabled]="typeForm === eTypeForm.view" nz-input type="text" [(ngModel)]="item.maximumPeople" mask="000000000000000"
            placeholder="Nhập">
        </td>
        <td>
          <input [disabled]="typeForm === eTypeForm.view" nz-input type="text" [(ngModel)]="item.purchasedQty" mask="000000000000000"
            placeholder="Nhập">
        </td>
        <td>
          <input [disabled]="typeForm === eTypeForm.view" nz-input type="text" [(ngModel)]="item.availableQty" mask="000000000000000"
            placeholder="Nhập">
        </td>
        <td>
          <input [disabled]="typeForm === eTypeForm.view" nz-input type="text" [(ngModel)]="item.price" mask="000000000000000"
            placeholder="Nhập">
        </td>
        <td class="text-center">
          <i nz-icon nz-tooltip nzTooltipTitle="Xem tình trạng phòng" nzType="info-circle" nzTheme="outline" class="icon-info pointer" (click)="openRoomAvailable()"></i>
        </td>

        <td>
          <textarea [disabled]="typeForm === eTypeForm.view" rows="1" nz-input placeholder="Nhập" [(ngModel)]="item.description"></textarea>
        </td>
        <td class="text-center">
          <i *ngIf="typeForm !== eTypeForm.view" class="fa fa-minus-circle pointer icon-delete" aria-hidden="true" (click)="delete(i)"></i>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <div *ngIf="(dataSource ?? []).length === 0" class="d-flex justify-content-center mt-3">
    <p class="mb-0">Không có dữ liệu</p>
  </div>
  <div *ngIf="typeForm !== eTypeForm.view" class="mt-3">
    <i class="fa fa-plus-circle icon-add pointer" aria-hidden="true" (click)="add()" #addItem></i>&nbsp;&nbsp;<label class="pointer"
      (click)="addItem.click()">Thêm</label>
  </div>
  <div class="row mt-3">
    <p class="mb-0 icon-info">** Lưu ý: Nếu có thay đổi, bạn cần thực hiện lưu lại trước khi chuyển sang tab
      khác.</p>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <button *ngIf="typeForm === eTypeForm.view" nz-button nzType="primary" type="button" class="me-2 btn-save" (click)="edit()">Chỉnh sửa
    </button>
    <button *ngIf="typeForm === eTypeForm.edit" nz-button nzType="primary" type="submit" class="me-2 btn-save" (click)="submit()">Lưu
    </button>
    <button *ngIf="typeForm === eTypeForm.edit" nz-button type="button" class="ms-2 btn-cancel" (click)="cancel()">Hủy bỏ
    </button>
  </div>
</div>
