<section class="login">
  <div class="background-login">
    <div class="title d-flex flex-column align-items-center">
      <img src="../../../assets/images/logo.png" alt="" class="logo my-5">
      <div class="text-center">
        <h4 class="yellow text-uppercase fz-22 c-blue">CHÀO MỪNG ĐẾN VỚI TRANG QUẢN TRỊ</h4>
        <h2 class="text-uppercase my-4 fz-66 c-blue">DA NANG BAY BOOKING</h2>
      </div>
    </div>
    <div class="Form" >
      <form nz-form [formGroup]="signInForm" class="login-form">
        <nz-form-item>
          <nz-form-control nzErrorTip="Vui lòng nhập tên đăng nhập!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="userName" placeholder="Tên đăng nhập" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu!">
            <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
              <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password" placeholder="Mật khẩu" />
            </nz-input-group>
          </nz-form-control>
          <ng-template #suffixTemplate>
            <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="handlePasswordVisible()"></i>
          </ng-template>
        </nz-form-item>
        <div class="d-flex justify-content-center">
          <button (click)="submitForm()" class="login-form-button c-white fz-20 d-flex align-items-center justify-content-center">Đăng nhập</button>
        </div>
        <div nz-row class="login-form-margin d-flex justify-content-center mt-5">
          <!-- <div nz-col [nzSpan]="12">
            <label nz-checkbox formControlName="remember">
              <span>Remember me</span>
            </label>
          </div> -->
          <div >
            <a class="login-form-forgot c-white">Quên mật khẩu</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
