<section class="create">
  <div class="header">
    <div class="title d-flex align-items-center justify-content-center">
      <span class="fw-700 fz-18">Thông tin chung</span>
    </div>
    <div class="back mt-4">
      <i class="fa-solid fa-arrow-left pointer me-3" (click)="cancel()"></i>
      <span>{{type === eTypeForm.create ? 'Tạo mới khách hàng' : (type === eTypeForm.view ? 'Thông tin khách hàng' : 'Cập nhật thông tin khách hàng')}}</span>
      <a *ngIf="type === eTypeForm.view" class="color-active" >Chỉnh sửa</a>
    </div>
  </div>
  <hr>
  <div class="content container">
    <form nz-form action="" [formGroup]="customerForm" (ngSubmit)="submit()" #localForm="ngForm" errorTailor>
      <div class="row">
        <div class="col-4">
          <div class="h-100">
            <nz-upload [nzDisabled]="this.type === this.eTypeForm.view" nzName="avatar" nzListType="picture-card" class="text-center h-100 d-flex align-items-center justify-content-center">
              <ng-container *ngIf="this.type !== this.eTypeForm.view">
                <svg class="icon-add-image" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <path id="ic_add_to_photos_24px"
                    d="M5.2,8.4H2V30.8A3.209,3.209,0,0,0,5.2,34H27.6V30.8H5.2ZM30.8,2H11.6A3.209,3.209,0,0,0,8.4,5.2V24.4a3.209,3.209,0,0,0,3.2,3.2H30.8A3.209,3.209,0,0,0,34,24.4V5.2A3.209,3.209,0,0,0,30.8,2ZM29.2,16.4H22.8v6.4H19.6V16.4H13.2V13.2h6.4V6.8h3.2v6.4h6.4Z"
                    transform="translate(-2 -2)" opacity="0.21" />
                </svg>
              </ng-container>
              <img class="img" *ngIf="avatarUrl" [src]="avatarUrl">
            </nz-upload>
          </div>
        </div>
        <div class="col-8">
          <div class="row mb-2">
            <nz-form-item class="mb-0">
              <nz-form-label class="d-flex col-xxl-3 col-lg-4 col-md-4 col-sm-12 col-3 required" nzFor="name">
                Mã khách hàng
              </nz-form-label>
              <nz-form-control class="col-xxl-9 col-lg-8 col-md-8 col-sm-12 col-9 form-group">
                <input nz-input formControlName="no" placeholder="Nhập mã khách hàng">
                <!-- <ng-template #userErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">Vui lòng nhập mã khách hàng !</ng-container>
                </ng-template> -->
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="row mb-2">
            <nz-form-item class="mb-0">
              <nz-form-label class="d-flex col-xxl-3 col-lg-4 col-md-4 col-sm-12 col-3 required" nzFor="name">
                Họ và tên
              </nz-form-label>
              <nz-form-control class="col-xxl-9 col-lg-8 col-md-8 col-sm-12 col-9 form-group" [nzErrorTip]="userErrorName">
                <input nz-input formControlName="name" placeholder="Họ và Tên">
                <ng-template #userErrorName let-control>
                  <ng-container *ngIf="control.hasError('required')">Vui lòng nhập tên khách hàng !</ng-container>
                  <ng-container *ngIf="control.hasError('pattern')">Tên không được nhập số và không dài quá 50 kí tự </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="row mb-2">
            <nz-form-item class="mb-0">
              <nz-form-label class="d-flex col-xxl-3 col-lg-4 col-md-4 col-sm-12 col-3 required" nzFor="name">
                Số điện thoại
              </nz-form-label>
              <nz-form-control class="col-xxl-9 col-lg-8 col-md-8 col-sm-12 col-9 form-group">
                <input nz-input formControlName="phoneNumber" placeholder="Nhập số điện thoại" >
                <!-- <ng-template #userErrorPhone let-control>
                  <ng-container *ngIf="control.hasError('required')">Vui lòng nhập số điện thoại !</ng-container>
                  <ng-container *ngIf="control.hasError('pattern')">Vui lòng nhập số và đúng 10 kí tự</ng-container>
                </ng-template> -->
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="row mb-2">
            <nz-form-item class="mb-0">
              <nz-form-label class="d-flex col-xxl-3 col-lg-4 col-md-4 col-sm-12 col-3 required" nzFor="name">
                Email
              </nz-form-label>
              <nz-form-control class="col-xxl-9 col-lg-8 col-md-8 col-sm-12 col-9 form-group" >
                <input nz-input formControlName="email" placeholder="Nhập Email">
                <!-- <ng-template #userErrorEmail let-control>
                  <ng-container *ngIf="control.hasError('required')">Vui lòng nhập Email !</ng-container>
                  <ng-container *ngIf="control.hasError('pattern')">Nhập đúng định dạng Ex:"DaNang@gmail.com"</ng-container>
                </ng-template> -->
              </nz-form-control>
            </nz-form-item>
          </div>
          <hr class="my-2">
          <div class="row mb-2">
            <nz-form-item class="mb-0">
              <nz-form-label class="d-flex col-xxl-3 col-lg-4 col-md-4 col-sm-12 col-3 required" nzFor="name">
                CMND/CCCD
              </nz-form-label>
              <nz-form-control class="col-xxl-9 col-lg-8 col-md-8 col-sm-12 col-9 form-group" [nzErrorTip]="userErrorIdentityCard">
                <input nz-input formControlName="identityCard" placeholder="Nhập Email">
                <ng-template #userErrorIdentityCard let-control>
                  <ng-container *ngIf="control.hasError('required')">Vui lòng nhập CMND hoặc CCCD !</ng-container>
                  <ng-container *ngIf="control.hasError('pattern')">Vui lòng nhập số</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="row mb-2">
            <nz-form-item class="mb-0">
              <nz-form-label class="d-flex col-xxl-3 col-lg-4 col-md-4 col-sm-12 col-3" nzFor="name">
                Cấp bởi
              </nz-form-label>
              <nz-form-control class="col-xxl-9 col-lg-8 col-md-8 col-sm-12 col-9 form-group" [nzErrorTip]="userErrorIdentityCardPlace">
                <input nz-input formControlName="identityCardPlace" placeholder="Nơi cấp CMND/CCCD">
                <ng-template #userErrorIdentityCardPlace let-control>
                  <!-- <ng-container *ngIf="control.hasError('required')">Vui lòng nhập CMND hoặc CCCD !</ng-container>
                  <ng-container *ngIf="control.hasError('pattern')">Vui lòng nhập số</ng-container> -->
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="row mb-2">
            <nz-form-item class="mb-0">
              <nz-form-label class="d-flex col-xxl-3 col-lg-4 col-md-4 col-sm-12 col-3" nzFor="name">
                Cấp ngày
              </nz-form-label>
              <nz-form-control class="col-xxl-9 col-lg-8 col-md-8 col-sm-12 col-9 form-group" [nzErrorTip]="userErrorIdentityCardDate">
                <input nz-input formControlName="identityCardDate" placeholder="Ngày cấp CMND/CCCD ">
                <ng-template #userErrorIdentityCardDate let-control>
                  <!-- <ng-container *ngIf="control.hasError('required')">Vui lòng nhập CMND hoặc CCCD !</ng-container>
                            <ng-container *ngIf="control.hasError('pattern')">Vui lòng nhập số</ng-container> -->
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <hr class="my-2">
          <div class="row mb-2">
            <nz-form-item class="mb-0">
              <nz-form-label class="d-flex col-xxl-3 col-lg-4 col-md-4 col-sm-12 col-3 required" nzFor="name">
                Ngày sinh
              </nz-form-label>
              <nz-form-control class="col-xxl-9 col-lg-8 col-md-8 col-sm-12 col-9 form-group" [nzErrorTip]="userErrorBirthday">
                <nz-date-picker class="w-100" nz-input formControlName="birthday" nzPlaceHolder="Ngày sinh">
                </nz-date-picker>
                <ng-template #userErrorBirthday let-control>
                  <ng-container *ngIf="control.hasError('required')">Vui lòng chọn ngày sinh !</ng-container>
                  <!-- <ng-container *ngIf="control.hasError('pattern')">Vui lòng nhập số</ng-container> -->
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="row mb-2">
            <nz-form-item class="mb-0">
              <nz-form-label class="d-flex col-xxl-3 col-lg-4 col-md-4 col-sm-12 col-3 required" nzFor="name">
                Giới tính
              </nz-form-label>
              <nz-form-control class="col-xxl-9 col-lg-8 col-md-8 col-sm-12 col-9 form-group" [nzErrorTip]="userErrorGender">
                <nz-select formControlName="gender" nzPlaceHolder="Giới tính">
                  <nz-option nzValue="Option 1" nzLabel="Option 1"></nz-option>
                  <nz-option nzValue="Option 2" nzLabel="Option 2"></nz-option>
                </nz-select>
                <ng-template #userErrorGender let-control>
                  <ng-container *ngIf="control.hasError('required')">Vui lòng chọn giới tính !</ng-container>
                  <!-- <ng-container *ngIf="control.hasError('pattern')">Vui lòng nhập số</ng-container> -->
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="row mb-2">
            <nz-form-item class="mb-0">
              <nz-form-label class="d-flex col-xxl-3 col-lg-4 col-md-4 col-sm-12 col-3 required" nzFor="name">
                Tỉnh/TP
              </nz-form-label>
              <nz-form-control class="col-xxl-9 col-lg-8 col-md-8 col-sm-12 col-9 form-group" [nzErrorTip]="userErrorProvince">
                <nz-select formControlName="province" nzPlaceHolder="Tỉnh/Thành phố">
                  <nz-option nzValue="Option 1" nzLabel="Option 1"></nz-option>
                  <nz-option nzValue="Option 2" nzLabel="Option 2"></nz-option>
                </nz-select>
                <ng-template #userErrorProvince let-control>
                  <ng-container *ngIf="control.hasError('required')">Vui lòng chọn Tỉnh/Thành phố !</ng-container>
                  <!-- <ng-container *ngIf="control.hasError('pattern')">Vui lòng nhập số</ng-container> -->
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="row mb-2">
            <nz-form-item class="mb-0">
              <nz-form-label class="d-flex col-xxl-3 col-lg-4 col-md-4 col-sm-12 col-3 required" nzFor="name">
                Quận/Huyện
              </nz-form-label>
              <nz-form-control class="col-xxl-9 col-lg-8 col-md-8 col-sm-12 col-9 form-group" [nzErrorTip]="userErrorDistrict">
                <nz-select formControlName="district" nzPlaceHolder="Quận/Huyện">
                  <nz-option nzValue="Option 1" nzLabel="Option 1"></nz-option>
                  <nz-option nzValue="Option 2" nzLabel="Option 2"></nz-option>
                </nz-select>
                <ng-template #userErrorDistrict let-control>
                  <ng-container *ngIf="control.hasError('required')">Vui lòng chọn Quận/Huyện !</ng-container>
                  <!-- <ng-container *ngIf="control.hasError('pattern')">Vui lòng nhập số</ng-container> -->
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="row mb-2">
            <nz-form-item class="mb-0">
              <nz-form-label class="d-flex col-xxl-3 col-lg-4 col-md-4 col-sm-12 col-3 required" nzFor="name">
                Phường/Xã
              </nz-form-label>
              <nz-form-control class="col-xxl-9 col-lg-8 col-md-8 col-sm-12 col-9 form-group" [nzErrorTip]="userErrorWard">
                <nz-select formControlName="ward" nzPlaceHolder="Phường/Xã">
                  <nz-option nzValue="Option 1" nzLabel="Option 1"></nz-option>
                  <nz-option nzValue="Option 2" nzLabel="Option 2"></nz-option>
                </nz-select>
                <ng-template #userErrorWard let-control>
                  <ng-container *ngIf="control.hasError('required')">Vui lòng chọn Phường/Xã !</ng-container>
                  <!-- <ng-container *ngIf="control.hasError('pattern')">Vui lòng nhập số</ng-container> -->
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="row mb-2">
            <nz-form-item class="mb-0">
              <nz-form-label class="d-flex col-xxl-3 col-lg-4 col-md-4 col-sm-12 col-3 required" nzFor="name">
                Địa chỉ
              </nz-form-label>
              <nz-form-control class="col-xxl-9 col-lg-8 col-md-8 col-sm-12 col-9 form-group" [nzErrorTip]="userErrorAddress">
                <input nz-input formControlName="address" placeholder="Đường, Tổ/Thôn ">
                <ng-template #userErrorAddress let-control>
                  <ng-container *ngIf="control.hasError('required')">Vui lòng nhập địa chỉ !</ng-container>
                  <!-- <ng-container *ngIf="control.hasError('pattern')">Vui lòng nhập số</ng-container> -->
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
      <div class="mt-3 d-flex align-items-center justify-content-center">
        <button nz-button type="submit" class="me-2 btn-save">lưu</button>
        <button nz-button type="button" class="ms-2 btn-cancel">Hủy bỏ</button>
      </div>
    </form>
  </div>
</section>

