<app-header></app-header>
<section class="dashboard">
  <nz-layout class="bgr-gainsboro" style="height: calc(100vh - 144px);">
    <nz-sider class="abc " [nzTheme]="'light'"  nzCollapsible="true" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" [nzBreakpoint]="'lg'">
      <!-- <div class="logo"></div> -->
      <div class="collapsed" [@slideInOut]="isCollapsed ? 'in' : 'out'" >
        <div class="d-flex align-items-center justify-content-center pointer toggle" (click)="toggleCollapsed()">
          <i class="fa-solid" [class.fa-angle-right]="isCollapsed" [class.fa-angle-left]="!isCollapsed"  aria-hidden="true"></i>
          <!-- <i class="fa-solid fa-angle-right"></i> -->
        </div>
      </div>
      <!-- <div class="">
        <i class="trigger abc" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i>
      </div> -->
      <ul nz-menu  nzMode="inline">
        <li class="ms-1" nz-submenu [nzTitle]="user">
          <ul>
            <li nz-menu-item routerLink="/dashboard/customer-management/member-customer/list" routerLinkActive="link-active" >Quản lý khách hàng </li>
            <li nz-menu-item routerLink="/dashboard/user-management/employee/list" routerLinkActive="link-active">Quản lý người dùng DN</li>
            <!-- <li nz-menu-item routerLink="/dashboard/user-management/user-group/list" routerLinkActive="link-active" >Quản lý nhóm người dùng DN</li> -->
          </ul>
        </li>
        <ng-template #user> <i class="fa-solid fa-user me-2 "></i> <span [class.isCollapsed-false]="isCollapsed" >Quản lý người dùng</span> </ng-template>

        <li nz-menu-item routerLink="/dashboard/booking-management/list" routerLinkActive="link-active">
          <i class="fa-solid fa-comments  me-2"></i>
          <span class="" [class.isCollapsed-false]="isCollapsed">Quản lý đặt phòng</span>
        </li>

        <!-- <li nz-submenu [nzTitle]="account">
          <ul>
            <li nz-menu-item>Quản lý tài khoản người dùng</li>
            <li nz-menu-item>Quản lý nhóm người dùng</li>
          </ul>
        </li>
        <ng-template #account> <i class="fa fa-users me-2"></i> <span [class.isCollapsed-false]="isCollapsed" > Quản lý người dùng DN Bay</span> </ng-template> -->

        <li class="ms-1" nz-submenu [nzTitle]="dataSource">
          <ul>
            <li nz-menu-item routerLink="/dashboard/source-data-management/room-type" routerLinkActive="link-active" >Danh mục loại phòng</li>
            <li nz-menu-item routerLink="/dashboard/source-data-management/accommodation" routerLinkActive="link-active" >Quản lý CSLT</li>
            <!-- <li nz-menu-item routerLink="/dashboard/source-data-management/utility" routerLinkActive="link-active" >Quản lý tiện ích</li>
            <li nz-menu-item routerLink="/dashboard/source-data-management/room" routerLinkActive="link-active" >Quản lý phòng</li> -->
          </ul>
        </li>
        <ng-template #dataSource> <i class="fa-solid fa-database me-2"></i> <span [class.isCollapsed-false]="isCollapsed"> Quản lý dữ liệu nguồn</span> </ng-template>
        
        <li nz-submenu [nzTitle]="statistical" >
          <ul>
            <li nz-menu-item routerLink="/dashboard/report-statistical/cancel-booked" routerLinkActive="link-active" >Lượt khách hủy phòng</li>
            <li nz-menu-item  routerLink="/dashboard/report-statistical/revunue" routerLinkActive="link-active" >Quản lý doanh thu</li>
            <!-- <li nz-menu-item>Thông tin CSLT</li> -->
            <li nz-menu-item  routerLink="/dashboard/report-statistical/diary-login" routerLinkActive="link-active" >Nhật kí đăng nhập người dùng</li>
          </ul>
        </li>
        <ng-template #statistical> <i class="fa-solid fa-flag me-2"></i> <span [class.isCollapsed-false]="isCollapsed"> Báo cáo thống kê </span> </ng-template>

        <li nz-menu-item routerLink="/dashboard/request-support/list" >
          <i class="fa-solid fa-comments me-2"></i>
          <span class="" [class.isCollapsed-false]="isCollapsed">Ghi nhận & xử lý yêu cầu/hỗ trợ</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="bgr-gainsboro ms-4 mt-3">
      <nz-content class="mx-3 my-2 scroll">
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</section>
