/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~bootstrap/dist/css/bootstrap.css";
// @import '~@fortawesome/fontawesome-free/css/all.css';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

* {
  font-size: 14px;
  font-family: "Helvetica-neue", sans-serif;
  letter-spacing: 0.2px;
  // user-select: none;
}

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@font-face {
  font-family: Myanmar-MN;
  src: url(assets/fonts/Myanmar-MN.ttc) format("truetype");
}

@font-face {
  font-family: Helvetica-neue;
  src: url(assets/fonts/helvetica-neue-regular.ttf) format("truetype");
}

$active-color: #086fd0;

button[nzType="third"] {
  background-color: #b54544;
  color: white;
  border-color: #b54544 !important;
  &:active {
    background-color: #b54544;
    color: white;
    border-color: #b54544 !important;
  }
  &:focus {
    background-color: #b35958;
    color: white;
    border-color: #b35958 !important;
  }
  &:hover {
    background-color: #b35958;
    color: white;
    border-color: #b35958 !important;
  }
}

.decoration {
  text-decoration: unset;
  color: #000;
}

// Color
.c-yellow {
  color: #caa72b;
}
.c-white {
  color: #fff;
}
.c-green {
  color:green;
}
.c-blue {
  color: #5fc8c2;
}
.c-black {
  color: #000;
}
.c-red {
  color: #ff0000;
}
.c-limegreen {
  color: #1fc726;
}
.c-cornflowerblue {
  color: #47a7ff;
}
.c-lightseagreen {
  color: #2690a7;
}
.c-dodgerblue {
  color: #188ffd;
}
.c-gray {
  color: #ccc;
}
.c-darkgray{
  color: #a9a9a9;
}
.c-midnightblue{
  color: #003580;
}
.c-red{
  color: red;
}
.color-active {
  color: $active-color;
  fill: #074494;
}

//background
.bgr-blue {
  background: linear-gradient(45deg, #258fa7, #5fc8c2);
}
.bgr-white{
  background: #fff;
}
.bgr-darkgray {
  background: #bdb1a8;
}
.bgr-gainsboro {
  background: #e5e4de !important;
}
.bgr-green {
  background: green;
}
.bgr-dodgerblue {
  background: #188ffd;
}
.bgr-midnightblue{
  background: #003580;
}
.bgr-aliceblue{
  background: #ebf3ff !important;
}
.bgr-honeydew{
  background: #e7fde9 !important;
}
.bgr-whitesmoke{
  background: whitesmoke;
}

// font-size
.fz-10 {
  font-size: 10px;
}
.fz-12 {
  font-size: 12px;
}
.fz-14 {
  font-size: 14px;
}
.fz-16 {
  font-size: 16px;
}
.fz-18 {
  font-size: 18px;
}
.fz-20 {
  font-size: 20px;
}
.fz-22 {
  font-size: 22px;
}
.fz-30 {
  font-size: 30px;
}
.fz-32 {
  font-size: 32px;
}
.fz-66 {
  font-size: 66px;
}
.fz-80 {
  font-size: 80px;
}

//font-weight
.fw-700{
  font-weight: 700;
}

//Pointer
.pointer {
  cursor: pointer;
}

//Button
.button {
  background: #5fc8c2 !important;
  border: none !important;
  border-radius: 5px !important;
  color: #fff !important;
}
.btn-export {
  border-radius: 5px !important;
  padding: 0px 15px !important;
  color: #fff !important;
  border: unset !important;
}
.btn-save {
  border-radius: 5px !important;
  padding: 0px 40px !important;
  // background: #2690a7 !important;
  color: #fff !important;
  border: unset !important;
}
.btn-cancel {
  border-radius: 5px !important;
  color: #47a7ff !important;
  border: 1px solid #47a7ff !important;
  padding: 0px 40px !important;
}

//Webkit-box
.webkit-box-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 40px;
  transition: unset;
  color: #666666;
}
.webkit-box-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 20px;
  transition: unset;
  color: #666666;
}

//panination
.ant-pagination-total-text{
  position: absolute;
  left: 0.5rem;
}

// TABLE

.ant-table-tbody > tr > td {
  padding: 16px;
}

tbody {
  td {
    border-bottom: 1px solid #e3e3e3 !important;
    background-color: #f0f2f5;
    color: #666666;
    // text-transform: uppercase;
  }
}

thead {
  th {
    padding: 24px 8px;
    font-weight: normal;
    border: none !important;
    text-align: center;
    color: #666666;
    // font-size: 13px;
  }
}

.ant-table-thead > th:first-child {
  border-top-left-radius: 10px;
  background: #fff !important;
}

.ant-table-thead > th:last-child {
  border-top-right-radius: 10px;
  background: #fff !important;
}

.ant-table-tbody > tr.ant-table-row:hover > td:first-child {
  border-left: solid 4px #086fd0;
  background-color: white !important;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: white !important;
}

.ant-table-cell-fix-left,
.ant-table-cell-fix-right {
  position: sticky !important;
  z-index: 1 !important;
  background: #f0f2f5 !important;
}

// ! table-main
.table-main {
  .ant-table-tbody > tr > td {
    padding: 16px;
  }

  tbody tr .ant-table-cell-fix-left {
    background: #f0f2f5;
  }
}

.required {
  &::after {
    content: "*";
    color: red;
  }
}

//table-popup
.table-popup {
  tbody {
    td {
      background-color: #fff;
    }
  }

  tbody tr .ant-table-cell-fix-left {
    background: #fff !important;
  }

  .ant-table-thead > th {
    border-bottom: dashed 1px rgba(119, 123, 124, 0.4) !important;
    padding: 1.1rem 0.5rem !important;
  }

  .ant-table-tbody > tr > td {
    padding: 1rem;
    background-color: transparent;
  }

  .ant-table-tbody > tr.ant-table-row:hover > td:first-child {
    border-left: none;
  }

  .ant-table-content,
  .ant-table-body {
    overflow: scroll;

    &::-webkit-scrollbar {
      width: 5px !important;
      height: 5px !important;
    }

    &::-webkit-scrollbar-track {
      background: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
      background: #086fd0;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #086fd0;
    }
  }

  .ant-modal-content {
    border-radius: 0px;
  }

  .ant-modal-content {
    border-radius: 0px;
  }

  .ant-table .ant-table-container::after {
    width: 5px !important;
  }

  .ant-table-header {
    overflow: hidden !important;
  }
}

//scroll
.scroll {
  max-height: auto;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background: #6f6f6f;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #6f6f6f;
  }
}

//height
.h-100 {
  height: 100%;
}

//Width
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}

//image
.img{
  object-fit: cover;
}

.control-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 14px;
  color: #ff4d4f;
}

// .ng-invalid {
//   border-bottom: 2px solid #ff4d4f;
// }

.is-invalid {
  border: 1px solid #dc3545 !important;
  border-radius: 5px;
}

.status-booking {
  width: 9rem;
  padding: 0.4rem 1rem;
  border-radius: 0.25rem;
  &-confirmed {
    background-color: #0872fc;
    color: #fff;
  }
  &-success {
    background-color: #139a57;
    color: #fff;
  }
  &-canceled {
    background-color: #050d2f;
    color: white;
  }
  &-closed {
    background-color: #989898;
    color: #fff;
  }
}

.status-active{
  color: #52c41a;
}
.status-inActive{
  color: #f5222d;
}
