<section class="create-booking py-4">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="container card py-3 mb-3">
          <div class="lh-2">
            <span class="fw-700 fz-16">Chi tiết đặt phòng của bạn</span>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="">
                <span>Nhận phòng</span>
              </div>
              <div class="fw-700">
                <span>{{booking?.fromDate ? (booking?.fromDate | date: ' dd / MM / yyyy') : ''}}</span>
              </div>
              <span class="c-darkgray">14:00 - 23:30</span>
            </div>
            <div class="col-6">
              <div class="">
                <span>Trả phòng</span>
              </div>
              <div class="fw-700">
                <span>{{booking?.toDate ? (booking?.toDate | date: 'dd / MM / yyyy') : ''}}</span>
              </div>
              <span class="c-darkgray">01:00 - 12:00</span>
            </div>
          </div>
          <div class="">
            <div class="">
              <span>Tổng thời gian lưu trú:</span>
            </div>
            <div class="">
              <span>{{booking?.totalDay}} đêm</span>
            </div>
          </div>
          <hr>
          <div class="">
            <div class="">
              <span class="fw-700 fz-16">Bạn đã chọn</span>
            </div>
            <div class="">
              <span>Phòng: <span class="fw-700">{{booking?.room?.name}}</span></span>
            </div>
            <div class="">
              <span class="c-dodgerblue pointer" (click)="previous()">Đổi lựa chọn của bạn</span>
            </div>
          </div>
          <hr>
          <div class="lh-2">
            <span class="fw-700 fz-16">Thông tin người nhận phòng</span>
          </div>
          <div class="row">
            <div class="col-12">
              <span class="required">Họ và tên:</span>
              <div class="">
                <input nz-input type="text" [disabled]="true" [(ngModel)]="booking.checkInName" >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <span class="required">Số điện thoại:</span>
              <div class="">
                <input nz-input type="text" [disabled]="true" [(ngModel)]="booking.checkInPhoneNumber">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <span class="required">CMND/CCCD:</span>
              <div class="">
                <input nz-input type="text" [disabled]="true" [(ngModel)]="booking.checkInIdentityCard">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <span class="required">Email:</span>
              <div class="">
                <input nz-input type="text" [disabled]="true" [(ngModel)]="booking.checkInMail">
              </div>
            </div>
          </div>
        </div>
        <div class="container card py-3 mb-3 lh-2">
          <div class="">
            <span class="fw-700 fz-16">Tóm tắt giá</span>
          </div>
          <div class="row">
            <div class="col-7">
              <span>Giá phòng: (x{{booking?.qty}}) phòng/{{booking?.totalDay}} đêm</span>
            </div>
            <div class="col-5 d-flex justify-content-end">
              <span>VND {{booking?.totalPrice - booking.totalPrice * 8 / 100 - booking.totalPrice * 5 / 100 | mask: 'separator': ',' }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-7">
              <span>8 % Thuế GTGT:</span>
            </div>
            <div class="col-5 d-flex justify-content-end">
              <span>VND {{booking.totalPrice * 8 / 100 | mask: 'separator': ','}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-7">
              <span>5 % dịch vụ của chỗ nghỉ:</span>
            </div>
            <div class="col-5 d-flex justify-content-end">
              <span>VND {{booking.totalPrice * 5 / 100 | mask: 'separator': ','}}</span>
            </div>
          </div>
          <div class="row py-5 bgr-aliceblue">
            <div class="col-6">
              <span class="fz-16 fw-700">Giá</span>
            </div>
            <div class="col-6 d-flex justify-content-end">
              <span class="fw-700 fz-16">VND {{booking.totalPrice | mask: 'separator': ','}}</span>
            </div>
          </div>
          <div class="d-flex justify-content-center mt-3">
            <button nz-button nzType="primary" (click)="submit()">Xác nhận đặt phòng</button>
          </div>
        </div>
        <div class="container card py-3 mb-3 lh-2">
          <div class="">
            <span class="fz-16 fw-700">Lịch thanh toán của bạn</span>
          </div>
          <div class="">
            <span class="c-green">không cần thanh toán hôm nay. Bạn sẽ trả khi đến nghỉ</span>
          </div>
        </div>
        <div class="container card py-3 mb-3 lh-2">
          <div class="">
            <span class="fz-16 fw-700">Chi phí hủy là bao nhiêu ?</span>
          </div>
          <div class="">
            <span class="c-green">Miễn phí hủy bất kì lúc nào</span>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="container card mb-3">
          <div class="row py-4">
            <div class="col-3">
              <img class="img border-r" nz-image width="100%" height="160px" [nzSrc]="booking?.accommodation?.images[0].image" alt="">
            </div>
            <div class="col-9">
              <div class="d-flex flex-column">
                <div class="accommodation-type mb-2">
                  <span class="c-dodgerblue">{{booking?.accommodation?.accommodationType?.name}}</span>
                </div>
                <h5 class="fw-700">{{booking?.accommodation?.name}}</h5>
                <div class="mb-2">
                  <span>{{booking?.accommodation?.address}}</span>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <div class="d-flex align-items-center me-2">
                    <div class="bgr-midnightblue border-point px-3 py-2 me-2">
                      <span class="c-white">{{qtyRateComment?.point}}</span>
                    </div>
                    <div class="d-flex align-items-center">
                      <span class="fw-700">{{qtyRateComment.point == 5 ? 'Tuyệt vời' : qtyRateComment.point == 4 ? 'Hoàn hảo' : qtyRateComment.point == 3 ? 'Bình thường' : qtyRateComment.point == 2 ? 'Không tốt' : qtyRateComment.point == 1 ? 'Tệ' : 'Chưa đánh giá'}}</span>
                      <div class="mx-1">.</div>
                      <label for="">{{qtyRateComment?.qty}} đánh giá</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container card py-3 mb-3 lh-2">
          <div class="">
            <span class="fz-16 fw-700">Thông tin phòng bạn đã chọn</span>
          </div>
          <div class="row py-2">
            <div class="col-3">
              <img class="img border-r" nz-image width="100%" height="160px" [nzSrc]="booking?.room?.image" alt="">
            </div>
            <div class="col-9">
              <div class="d-flex flex-column">
                <h5 class="fw-700">(x{{booking?.qty}}) phòng {{booking?.room?.name}}</h5>
                <div class="row">
                  <div class="col-6 mb-2">
                    <div class="d-flex align-items-center">
                      <span class="me-2" for="">Loại phòng:</span>
                      <span class="fw-700">{{booking?.room?.roomType?.name}}</span>
                    </div>
                  </div>
                  <div class="col-6 mb-2">
                    <div class="d-flex align-items-center">
                      <span class="me-2" for="">Số khách/phòng:</span>
                      <span class="fw-700">{{booking?.room?.maximumPeople}}</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 mb-2">
                    <div class="d-flex align-items-center">
                      <span class="me-2" for="">Số người lớn:</span>
                      <span class="fw-700">{{booking?.personNumber}}</span>
                    </div>
                  </div>
                  <div class="col-6 mb-2">
                    <div class="d-flex align-items-center">
                      <span class="me-2" for="">Số trẻ em:</span>
                      <span class="fw-700">{{booking?.childNumber}}</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 mb-2">
                    <div class="d-flex align-items-center">
                      <span class="me-2" for="">Số lượng phòng:</span>
                      <span class="fw-700">(x{{booking?.qty}}) phòng</span>
                    </div>
                  </div>
                  <div class="col-6 mb-2">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container card py-3 mb-3 lh-2">
          <div class="">
            <span class="fz-16 fw-700">Mách nhỏ</span>
          </div>
          <div class="row">
            <div class="col-1">
              <svg class="bk-icon -streamline-credit_card_crossed" fill="#008009" height="18" role="presentation" width="18" viewBox="0 0 128 128"
                aria-hidden="true" focusable="false">
                <path
                  d="M88.72 108a4 4 0 0 1-4 4H12c-6.627 0-12-5.373-12-12V28a4 4 0 0 1 8 0v12h12.11a4 4 0 0 1 0 8H8v52a4 4 0 0 0 4 4h72.72a4 4 0 0 1 4 4zM116 16H43.1a4 4 0 0 0 0 8H116a4 4 0 0 1 4 4v12H66.86a4 4 0 0 0 0 8H120v52a4 4 0 0 0 8 0V28c0-6.627-5.373-12-12-12zM44.3 64H28a4 4 0 0 0 0 8h16.3a4 4 0 0 0 0-8zM24 84a4 4 0 0 0 4 4h29.88a4 4 0 0 0 0-8H28a4 4 0 0 0-4 4zM6.83 1.17a4.002 4.002 0 1 0-5.66 5.66l120 120a4.002 4.002 0 1 0 5.66-5.66z">
                </path>
              </svg>
            </div>
            <div class="col-11">
              <span>Đặt phòng cho đêm nay? Không cần thẻ tín dụng</span>
            </div>
          </div>
          <div class="row">
            <div class="col-1">
              <svg class="bk-icon -streamline-checkmark_selected" fill="#008009" height="18" role="presentation" width="18" viewBox="0 0 128 128"
                aria-hidden="true" focusable="false">
                <path
                  d="M56.62 93.54a4 4 0 0 1-2.83-1.18L28.4 67a4 4 0 1 1 5.65-5.65l22.13 22.1 33-44a4 4 0 1 1 6.4 4.8L59.82 91.94a4.06 4.06 0 0 1-2.92 1.59zM128 64c0-35.346-28.654-64-64-64C28.654 0 0 28.654 0 64c0 35.346 28.654 64 64 64 35.33-.039 63.961-28.67 64-64zm-8 0c0 30.928-25.072 56-56 56S8 94.928 8 64 33.072 8 64 8c30.914.033 55.967 25.086 56 56z">
                </path>
              </svg>
            </div>
            <div class="col-11">
              <span>Miễn phí hủy.</span>
            </div>
          </div>
          <div class="row">
            <div class="col-1">
              <svg class="bk-icon -streamline-checkmark_selected" fill="#008009" height="18" role="presentation" width="18" viewBox="0 0 128 128"
                aria-hidden="true" focusable="false">
                <path
                  d="M56.62 93.54a4 4 0 0 1-2.83-1.18L28.4 67a4 4 0 1 1 5.65-5.65l22.13 22.1 33-44a4 4 0 1 1 6.4 4.8L59.82 91.94a4.06 4.06 0 0 1-2.92 1.59zM128 64c0-35.346-28.654-64-64-64C28.654 0 0 28.654 0 64c0 35.346 28.654 64 64 64 35.33-.039 63.961-28.67 64-64zm-8 0c0 30.928-25.072 56-56 56S8 94.928 8 64 33.072 8 64 8c30.914.033 55.967 25.086 56 56z">
                </path>
              </svg>
            </div>
            <div class="col-11">
              <span>Đảm bảo đặt phòng không cần trả tiền. Bạn sẽ thanh toán trong lúc nghỉ.</span>
            </div>
          </div>
        </div>
        <div class="container card py-3 mb-3 lh-2 bgr-aliceblue">
          <div class="">
            <span class="fz-16 fw-700">Các yêu cầu đặc biệt</span>
          </div>
          <div class="row">
            <div class="col-12">
              <span>Các yêu cầu đặc biệt không đảm bảo sẽ được đáp ứng – tuy nhiên, chỗ nghỉ sẽ cố gắng hết sức để thực hiện. Bạn luôn có thể gửi yêu cầu đặc biệt sau khi
              hoàn tất đặt phòng của mình!</span>
            </div>
            <div class="col-6">
              <span class="fw-700">Yêu cầu của bạn. <label for="" class="fw-500">(không bắt buộc)</label></span>
            </div>
            <div class="col-12">
              <textarea [disabled]="true" class="w-100" [(ngModel)]="booking.checkInNote"></textarea>
            </div>
          </div>
        </div>
        <div class="container card py-3 mb-3 lh-2 bgr-aliceblue">
          <div class="">
            <span class="fz-16 fw-700">Thời gian đến của bạn</span>
          </div>
          <div class="row">
            <div class="col-1">
              <svg class="bk-icon -streamline-checkmark_selected" fill="#008009" height="24" role="presentation" width="24" viewBox="0 0 128 128"
                aria-hidden="true" focusable="false">
                <path
                  d="M56.62 93.54a4 4 0 0 1-2.83-1.18L28.4 67a4 4 0 1 1 5.65-5.65l22.13 22.1 33-44a4 4 0 1 1 6.4 4.8L59.82 91.94a4.06 4.06 0 0 1-2.92 1.59zM128 64c0-35.346-28.654-64-64-64C28.654 0 0 28.654 0 64c0 35.346 28.654 64 64 64 35.33-.039 63.961-28.67 64-64zm-8 0c0 30.928-25.072 56-56 56S8 94.928 8 64 33.072 8 64 8c30.914.033 55.967 25.086 56 56z">
                </path>
              </svg>
            </div>
            <div class="col-11">
              <span>Phòng của bạn sẽ sẵn sàng để nhận trong khoảng từ 14:00 đến 23:30</span>
            </div>
          </div>
          <div class="row">
            <div class="col-1">
              <svg class="bk-icon -streamline-front_desk" fill="#008009" height="24" width="24" viewBox="0 0 24 24" role="presentation"
                aria-hidden="true" focusable="false">
                <path
                  d="M14.244 14.156a6.75 6.75 0 0 0-6.75-5.906A6.747 6.747 0 0 0 .73 14.397a.75.75 0 0 0 1.494.134 5.25 5.25 0 0 1 5.27-4.781 5.253 5.253 0 0 1 5.262 4.594.75.75 0 1 0 1.488-.188zM10.125 4.125a2.625 2.625 0 1 1-5.25 0V1.5h5.25v2.625zm1.5 0V1.5a1.5 1.5 0 0 0-1.5-1.5h-5.25a1.5 1.5 0 0 0-1.5 1.5v2.625a4.125 4.125 0 0 0 8.25 0zM23.25 22.5H.75l.75.75v-7.5a.75.75 0 0 1 .75-.75h19.5a.75.75 0 0 1 .75.75v7.5l.75-.75zm0 1.5a.75.75 0 0 0 .75-.75v-7.5a2.25 2.25 0 0 0-2.25-2.25H2.25A2.25 2.25 0 0 0 0 15.75v7.5c0 .414.336.75.75.75h22.5zM4.376 5.017a9.42 9.42 0 0 1 3.12-.517 9.428 9.428 0 0 1 3.133.519.75.75 0 0 0 .49-1.418A10.917 10.917 0 0 0 7.498 3a10.91 10.91 0 0 0-3.611.6.75.75 0 0 0 .49 1.417zM15.75 14.27a3.001 3.001 0 0 1 6 .16.75.75 0 1 0 1.5.04 4.501 4.501 0 1 0-9-.24.75.75 0 1 0 1.5.04zm3.75-3.77V8.25a.75.75 0 0 0-1.5 0v2.25a.75.75 0 0 0 1.5 0zM17.25 9h3a.75.75 0 0 0 0-1.5h-3a.75.75 0 0 0 0 1.5z">
                </path>
              </svg>
            </div>
            <div class="col-11">
              <span>Lễ tân 24 giờ - Luôn có trợ giúp mỗi khi bạn cần!</span>
            </div>
            <!-- <div class="row">
              <div class="col-12">
                <span class="fw-700">Thêm thời gian đến dự kiến của bạn <label for="" class="fw-500">(Không bắt buộc)</label></span>
              </div>
              <div class="col-6">
                <nz-select class="w-100"></nz-select>
              </div>
              <div class="col-12">
                <span class="c-darkgray">Thời gian theo múi giờ Việt Nam</span>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<nz-modal nzWidth="25rem" [(nzVisible)]="isShowModal" [nzTitle]="null" [nzFooter]="null" nzCentered (nzOnCancel)="closeModal()"
  (nzOnOk)="closeModal()" [nzClosable]="false">
  <ng-container *nzModalContent>
    <div class="text-center">
      <div class="">
        <i class="fa fa-check-circle f-icon-check pb-2" aria-hidden="true"></i>
        <p class="f-title-confirm mb-0 me-1 fz-16 fw-700">Gửi thông tin đặt phòng thành công!</p>
      </div>
      <p class="mb-0">
        <i class="f-color">
        Thông tin đặt phòng đã được gửi về email của cơ sở lưu trú</i>
      </p>
      <p>Quay trở lại <span class="c-dodgerblue pointer" [routerLink]="['/dashboard/booking-management/list']">Đặt phòng của tôi</span> để kiểm tra phòng đã đặt</p>
      <button class="mt-3" nz-button (click)="closeModal()">Đóng</button>
    </div>
  </ng-container>
</nz-modal>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Đang tải...</p>
</ngx-spinner>

