.home {
  .container {
    .carousel {
      carousel {
        z-index: 1;
      }
    }
    .filter {
      .card {
        width: 65%;
        border: 3px solid #e2a700;
        z-index: 2;
        top: -0.5rem;
        .search {
          width: 54%;
        }
        .group{
          
        }
      }
    }
    .accommodation-type{
      margin: 3rem 0rem;
    }
    .location{
      margin: 3rem 0rem;
      .container-location{
        position: relative;
        .title{
          position: absolute;
          bottom: 2rem;
          margin-left: 1rem;
        }
      }
    }
    .accommodation-favorite{
      margin: 3rem 0rem;
      .title{

      }
      .content{

      }
    }
  }
}

.location {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 350px);
  grid-gap: 1.5rem;
  grid-template-areas:
    "h1 h1 h2 h3"
    "h4 h5 h6 h6";
}

.container-location:first-of-type{
  grid-area: h1;
}
.container-location:last-of-type{
  grid-area: h6;
}
