<section class="list-member">
  <div class="header">
    <div class="title">
      <span>Danh sách khách hàng</span>
    </div>
    <hr>
    <div class="content">
      <div class="content-header d-flex align-items-center justify-content-between">
        <div class="search">
          <nz-input-group nzSearch nzSize="default" >
            <input type="text" nzSize="default" (keyup)="searchTerm$.next($event.target.value)" [value]="searchTerm$.value" nz-input placeholder="Nhập tên/Email/SĐT/Mã KH/ Địa chỉ" />
          </nz-input-group>
          <!-- <ng-template #suffixButton>
            <button nz-button class="button" nzSize="default" nzSearch>Tìm kiếm</button>
          </ng-template> -->
        </div>
        <div class="group-btn">
          <button nz-button class="button" nzSize="default" [routerLink]="'/dashboard/customer-management/member-customer/create'" [queryParams]="{typeForm: 'create'}" >
            <i class="fa-solid fa-plus pe-2 fz-14"></i>
            Tạo mới
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="table-main">
      <nz-table #basicTable class="table-list mt-3" [nzFrontPagination]="false" [nzTemplateMode]="true" [nzLoading]="false" [nzData]="dataSource"
         [nzScroll]="{ x: '1200px' }" [nzTotal]="totalCount" [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex" (nzPageIndexChange)="onPageIndexChange($event)" (nzPageSizeChange)="onPageSizeChange($event)"
        [nzWidthConfig]="['70px', '100px', '180px', '180px', '180px', '280px', '200px', '150px', '130px']">
        <thead>
          <th nzLeft="0px" class="text-center">STT</th>
          <th class="text-center">Mã KH</th>
          <th class="text-center">Họ & Tên</th>
          <th class="text-center">Điện thoại</th>
          <th class="text-center">Ngày sinh</th>
          <th class="text-center">Email</th>
          <th class="text-center">Địa chỉ</th>
          <th class="text-center">Trạng thái</th>
          <th nzRight="0px" class="text-center">Thao tác</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataSource; let i = index">
            <td nzLeft="0px" class="text-center">{{i + 1}}</td>
            <td class="text-center">{{item.no}}</td>
            <td class="text-center">{{item.fullName}}</td>
            <td class="text-center">{{item.phoneNumber}}</td>
            <td class="text-center">{{item.dob ? (item?.dob | date: 'dd/MM/yyyy') : ''}}</td>
            <td class="">{{item.email}}</td>
            <td class="text-center">
              <span class=" webkit-box-1" nz-tooltip={{item.address}} >{{item.address}}</span>
            </td>
            <td class="text-center">{{item.status}}</td>
            <td nzRight="0px" class="text-center">
              <div class="d-flex align-items-center justify-content-between">
                <i  class="fa fa-key pointer me-2 c-dodgerblue" aria-hidden="true"></i>
                <nz-switch  nzSize="small" class=""></nz-switch>
                <i class="fa-solid fa-eye pointer c-dodgerblue" [routerLink]="['/dashboard/customer-management/member-customer/view', item.id]" [queryParams]="{typeForm: 'view'}" ></i>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <div *ngIf="(dataSource ?? []).length === 0" class="d-flex justify-content-center mt-3">
        <p class="mb-0 text-center">Không có dữ liệu</p>
      </div>
    </div>
    <ng-template #rangeTemplate let-range="range" let-total>
      <div class="mt-1">Tổng số {{ total }}</div>
    </ng-template>
  </div>
  <div class="footer">

  </div>
</section>
